---
title: On-line Edukacije
description: Finacije i računovodstvo
layout: layouts/page.njk
banner: online-edukacije.jpg
navID: online-fir
pagination:
  data: online.fir
  size: 10
  alias: edukacije
permalink: "edukacije/online-edukacije/financije-i-racunovodstvo{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "On-line Edukacije - Finacije i računovodstvo"
    page_description: "On-line Edukacije - Finacije i računovodstvo"
---

<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">Kategorija: {{ description }}</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span><a href="/">Početna</a></span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span><a href="/edukacije/online-edukacije">{{ title }}</a></span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

{% include "partials/online-category.njk" %}