---js
{
  layout: "layouts/page.njk",
  title: "Ostalo",
  description: "Ostalo",
  banner: "online-edukacije.jpg",
  navID: "online-ostalo",
  permalink: "edukacije/online-edukacije/ostalo{% if pagination.pageNumber > 0 %}/stranica/{{ pagination.pageNumber + 1}}{% endif %}/index.html",
  pagination: {
    data: "online.sve",
    size: 10,
	  alias: "edukacije",
    before: function(data) {
      const sviobjekti = [];
	  
      for (const obj of data) {
        if ( obj.categoryslug === "ostalo" ) {
            sviobjekti.push(obj);
        }
	    }
      if (!sviobjekti.length) {
        sviobjekti.push("prazno") 
      }

      return sviobjekti;
    }
  },
  eleventyComputed: {
    page_title: "On-line edukacije - Ostalo {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}",
    page_description: "On-line edukacije - Ostalo {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
  }
}
---

{% include "partials/online-header.njk" %}

{% include "partials/online-category.njk" %}