---
title: On-line edukacije
description: Prodaja, marketing i odnosi s javnošću
layout: layouts/page.njk
banner: online-edukacije.jpg
navID: online-pmoj
idx: no
pagination:
  data: online.pmoj
  size: 10
  alias: edukacije
permalink: "edukacije/online-edukacije/prodaja-marketing-i-odnosi-s-javnoscu{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "On-line edukacije - Prodaja, marketing i odnosi s javnošću {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "On-line edukacije - Prodaja, marketing i odnosi s javnošću {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/online-header.njk" %}

{% include "partials/online-category.njk" %}