---
title: On-line edukacije
description: Pravo i zaštita podataka
layout: layouts/page.njk
banner: online-edukacije.jpg
navID: online-pzp
idx: no
pagination:
  data: online.pzp
  size: 100
  alias: edukacije
permalink: "edukacije/online-edukacije/pravo-i-zastita-podataka{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "On-line edukacije - Pravo i zaštita podataka {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "On-line edukacije - Pravo i zaštita podataka {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/online-header.njk" %}

{% include "partials/online-category.njk" %}