---
title: On-line edukacije
description: On-line edukacije
layout: layouts/page.njk
banner: online-edukacije.jpg
navID: sve
idx: no
pagination:
  data: online.sve
  size: 10
  alias: edukacije
permalink: "edukacije/online-edukacije{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "On-line edukacije {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "On-line edukacije {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/online-header.njk" %}

{% include "partials/online-category.njk" %}