---
title: On-line edukacije
description: Upravljanje ljudskim potencijalima
layout: layouts/page.njk
banner: online-edukacije.jpg
navID: online-uljp
pagination:
  data: online.uljp
  size: 10
  alias: edukacije
permalink: "edukacije/online-edukacije/upravljanje-ljudskim-potencijalima{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "On-line edukacije - Upravljanje ljudskim potencijalima {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "On-line edukacije - Upravljanje ljudskim potencijalima {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/online-header.njk" %}

{% include "partials/online-category.njk" %}