---
title: Videoteka
description: Videoteka
layout: layouts/page.njk
permalink: "/usluge/videoteka/index.html"
banner: videoteka.jpg
navID: videoteka
---

<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">{{ description }}</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="/">Početna</a>
                        </span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

<!--portfolio-section-->
<section class="ttm-row portfolio-section clearfix" style="padding: 40px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ttm-tabs">
                    <ul class="tabs portfolio-filter">
                        <li class="tab active"><a href="#" data-filter="*">Sve</a></li>
                        <li class="tab"><a href="#" data-filter=".cat-hr">Ljudski resursi</a></li>
                        <li class="tab"><a href="#" data-filter=".cat-rif">Računovodstvo i financije</a></li>
                        <li class="tab"><a href="#" data-filter=".cat-it">Informatika</a></li>
                        <li class="tab"><a href="#" data-filter=".cat-pim">Prodaja i marketing</a></li>
                    </ul>
                    <div class="content-tab">
                        <!-- content-inner -->
                        <div class="row multi-columns-row ttm-boxes-spacing-10px isotope-project">
                            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6 cat-hr">
                                <!-- featured-imagebox-course -->
                                <div class="featured-imagebox featured-imagebox-course">
                                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                                        <img class="img-fluid" src="/images/course/course-one-526x470.jpg" alt="image"> 
                                    </div>
                                    <div class="featured-content featured-content-post">
                                        <div class="featured-content-post-inner">
                                            <div class="post-title featured-title">
                                                <h5><a href="courses-single.html">Complete Beginner to the Web Design</a></h5>
                                            </div>
                                            <div class="post-desc featured-desc">
                                                <p>Are you excited to learn the web design, but not start yet...</p>
                                            </div>
                                        </div>
                                        <div class="ttm-course-box-meta">
                                            <div class="ttm-enrolled">
                                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>78</span>
                                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>2</span>
                                            </div>  
                                            <span class="ttm-lp-price"><ins>$69.00</ins></span>                            
                                        </div>
                                    </div>
                                </div><!-- featured-imagebox-course end-->
                            </div>
                            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6 cat-rif cat-it">
                                <!-- featured-imagebox-course -->
                                <div class="featured-imagebox featured-imagebox-course">
                                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                                        <img class="img-fluid" src="/images/course/course-two-526x470.jpg" alt="image"> 
                                    </div>
                                    <div class="featured-content featured-content-post">
                                        <div class="featured-content-post-inner">
                                            <div class="post-title featured-title">
                                                <h5><a href="courses-single.html">Learn PHP Programming  From Scratch</a></h5>
                                            </div>
                                            <div class="post-desc featured-desc">
                                                <p>Now PHP is one of the best used programming languages...</p>
                                            </div>
                                        </div>
                                        <div class="ttm-course-box-meta">
                                            <div class="ttm-enrolled">
                                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>12</span>
                                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>2</span>
                                            </div>                
                                            <span class="ttm-lp-price "><ins>$85.00</ins></span>
                                        </div>
                                    </div>
                                </div><!-- featured-imagebox-course end-->
                            </div>
                            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6 cat-hr cat-pim">
                                <!-- featured-imagebox-course -->
                                <div class="featured-imagebox featured-imagebox-course">
                                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                                        <img class="img-fluid" src="/images/course/course-three-526x470.jpg" alt="image"> 
                                    </div>
                                    <div class="featured-content featured-content-post">
                                        <div class="featured-content-post-inner">
                                            <div class="post-title featured-title">
                                                <h5><a href="courses-single.html">Full Data Analysis Course For Beginner</a></h5>
                                            </div>
                                            <div class="post-desc featured-desc">
                                                <p>Contrary to popular belief, Lorem Ipsum is not simply rando...</p>
                                            </div>
                                        </div>
                                        <div class="ttm-course-box-meta">
                                            <div class="ttm-enrolled">
                                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>122</span>
                                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>4</span>
                                            </div>  
                                            <span class="ttm-lp-price"><del>$69.00</del><ins>$45.00</ins></span>
                                        </div>
                                    </div>
                                </div><!-- featured-imagebox-course end-->
                            </div>
                            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6 cat-hr cat-it">
                                <!-- featured-imagebox-course -->
                                <div class="featured-imagebox featured-imagebox-course">
                                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                                        <img class="img-fluid" src="/images/course/course-four-526x470.jpg" alt="image"> 
                                    </div>
                                    <div class="featured-content featured-content-post">
                                        <div class="featured-content-post-inner">
                                            <div class="post-title featured-title">
                                                <h5><a href="courses-single.html">Masters Course in Adobe Photoshop</a></h5>
                                            </div>
                                            <div class="post-desc featured-desc">
                                                <p>Top-rated Photoshop courses are covers most of all important...</p>
                                            </div>
                                        </div>
                                        <div class="ttm-course-box-meta">
                                            <div class="ttm-enrolled">
                                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>27</span>
                                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>2</span>
                                            </div>  
                                            <span class="ttm-lp-price ttm-free-course"><ins>Free</ins></span>                       
                                        </div>
                                    </div>
                                </div><!-- featured-imagebox-course end-->
                            </div>
                            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6 cat-rif cat-pim">
                                <!-- featured-imagebox-course -->
                                <div class="featured-imagebox featured-imagebox-course">
                                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                                        <img class="img-fluid" src="/images/course/course-five-526x470.jpg" alt="image"> 
                                    </div>
                                    <div class="featured-content featured-content-post">
                                        <div class="featured-content-post-inner">
                                            <div class="post-title featured-title">
                                                <h5><a href="courses-single.html">Learning A Mobile App Development</a></h5>
                                            </div>
                                            <div class="post-desc featured-desc">
                                                <p>Contrary to popular belief, Lorem Ipsum is not simply rando...</p>
                                            </div>
                                        </div>
                                        <div class="ttm-course-box-meta">
                                            <div class="ttm-enrolled">
                                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>12</span>
                                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>2</span>
                                            </div>                              
                                            <span class="ttm-lp-price "><ins>$85.00</ins></span>
                                        </div>
                                    </div>
                                </div><!-- featured-imagebox-course end-->
                            </div>
                            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6 cat-hr cat-it">
                                <!-- featured-imagebox-course -->
                                <div class="featured-imagebox featured-imagebox-course">
                                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                                        <img class="img-fluid" src="/images/course/course-six-526x470.jpg" alt="image"> 
                                    </div>
                                    <div class="featured-content featured-content-post">
                                        <div class="featured-content-post-inner">
                                            <div class="post-title featured-title">
                                                <h5><a href="courses-single.html">Visual Basic Web Courses With Live Project</a></h5>
                                            </div>
                                            <div class="post-desc featured-desc">
                                                <p>Specially designed to gear up for students and job seekers...</p>
                                            </div>
                                        </div>
                                        <div class="ttm-course-box-meta">
                                            <div class="ttm-enrolled">
                                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>75</span>
                                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>2</span>
                                            </div>  
                                            <span class="ttm-lp-price "><ins>$39.00</ins></span>
                                        </div>
                                    </div>
                                </div><!-- featured-imagebox-course end-->
                            </div>
                            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6 cat-hr">
                                <!-- featured-imagebox-course -->
                                <div class="featured-imagebox featured-imagebox-course">
                                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                                        <img class="img-fluid" src="/images/course/course-one-526x470.jpg" alt="image"> 
                                    </div>
                                    <div class="featured-content featured-content-post">
                                        <div class="featured-content-post-inner">
                                            <div class="post-title featured-title">
                                                <h5><a href="courses-single.html">Complete Beginner to the Web Design</a></h5>
                                            </div>
                                            <div class="post-desc featured-desc">
                                                <p>Are you excited to learn the web design, but not start yet...</p>
                                            </div>
                                        </div>
                                        <div class="ttm-course-box-meta">
                                            <div class="ttm-enrolled">
                                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>78</span>
                                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>2</span>
                                            </div>  
                                            <span class="ttm-lp-price"><ins>$69.00</ins></span>                            
                                        </div>
                                    </div>
                                </div><!-- featured-imagebox-course end-->
                            </div>
                            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6 cat-rif cat-it">
                                <!-- featured-imagebox-course -->
                                <div class="featured-imagebox featured-imagebox-course">
                                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                                        <img class="img-fluid" src="/images/course/course-two-526x470.jpg" alt="image"> 
                                    </div>
                                    <div class="featured-content featured-content-post">
                                        <div class="featured-content-post-inner">
                                            <div class="post-title featured-title">
                                                <h5><a href="courses-single.html">Learn PHP Programming  From Scratch</a></h5>
                                            </div>
                                            <div class="post-desc featured-desc">
                                                <p>Now PHP is one of the best used programming languages...</p>
                                            </div>
                                        </div>
                                        <div class="ttm-course-box-meta">
                                            <div class="ttm-enrolled">
                                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>12</span>
                                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>2</span>
                                            </div>                
                                            <span class="ttm-lp-price "><ins>$85.00</ins></span>
                                        </div>
                                    </div>
                                </div><!-- featured-imagebox-course end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--portfolio-section-->