---
title: Seminari uživo
description: Svi seminari
layout: layouts/page.njk
banner: seminari.jpg
navID: sem-sve
nav2ID: datumi
pagination:
  data: seminari-uzivo.datumi
  size: 10
  alias: seminari
permalink: "edukacije/seminari-uzivo/datumi-odrzavanja{% if pagination.pageNumber > 0 %}/stranica/{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Datumi održavanja seminara {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Datumi održavanja seminara {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/uzivo-datumi-header.njk" %}

{% include "partials/uzivo-datumi.njk" %}