<!DOCTYPE html>
<html lang="HR_hr">
<head>
    {% include "partials/head.njk" %}
</head>

<body>
    <!--page start-->
    <div class="page">
    {% include "partials/header.njk" %}

    <!--site-main start-->
    <div class="site-main">

    {{ content | safe }}

    </div><!--site-main end-->

    {% include "partials/footer.njk" %}

    <!--back-to-top start-->
        <a id="totop" href="#top">
            <i class="fa fa-angle-up"></i>
        </a>
    <!--back-to-top end-->

    </div><!-- page end -->

    {% include "partials/scripts.njk" %}

</body>