<!DOCTYPE html>
<html lang="hr">
<head>
    {% include "partials/head.njk" %}
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRQC79H"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--page start-->
    <div class="page">
    {% include "partials/header.njk" %}

    <!--site-main start-->
    <div class="site-main">

    {{ content | safe }}

    </div><!--site-main end-->

    {% include "partials/footer.njk" %}

    <!--back-to-top start-->
        <a id="totop" href="#top" aria-label="Idi na vrh stranice">
            <i class="fa fa-angle-up"></i>
        </a>
    <!--back-to-top end-->

    </div><!-- page end -->

    {% include "partials/scripts.njk" %}

    <script type="text/javascript">
    window._mfq = window._mfq || [];
    (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.defer = true;
        mf.src = "//cdn.mouseflow.com/projects/23a21863-f203-491d-b069-6a55595808ae.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
    })();
    </script>

		{% if navID === "hvala-na-narudzbi" %}
		<script>
			window.addEventListener('load', (event) => {
				const queryString = window.location.search;
				const urlParams = new URLSearchParams(queryString);
				const cijena = urlParams.get('transaction_revenue')*100
				fathom.trackGoal('FCBJGHVZ', cijena);
			});
		</script>
		{% endif %}

		{% if (nav2ID === "seminar") or (nav2ID === "edukacija") or (nav2ID === "zbirke") %}
		<script>
			window.addEventListener('load', (event) => {
				document.getElementById('rezervacija').addEventListener('click', () => {
					fathom.trackGoal('S3GN8CDX', {{ edukacija.cijenaCartEUR }});
        });
			});
		</script>
		{% endif %}
   
</body>