---
title: Seminari i radionice
description: Informatika i uredsko poslovanje
layout: layouts/page.njk
banner: seminari.jpg
navID: sem-iup
nav2ID: popis
idx: no
pagination:
  data: seminari.iuppopis
  size: 10
  alias: seminari
permalink: "edukacije/seminari-i-radionice/informatika-i-uredsko-poslovanje/otvoreni-seminari-i-radionice{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Seminari i radionice - Informatika i uredsko poslovanje {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Seminari i radionice - Informatika i uredsko poslovanje {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/seminari-header-popis.njk" %}

{% include "partials/seminar-popis-category.njk" %}