---
title: Seminari i radionice
description: Informatika i uredsko poslovanje
layout: layouts/page.njk
banner: seminari.jpg
navID: sem-uip
nav2ID: datumi
idx: no
pagination:
  data: seminari.iupdatumi
  size: 10
  alias: seminari
permalink: "edukacije/seminari-i-radionice/informatika-i-uredsko-poslovanje/datumi-odrzavanja{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Datumi održavanja seminara - Informatika i uredsko poslovanje {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Datumi održavanja seminara - Informatika i uredsko poslovanje {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/seminari-header-datumi.njk" %}

{% include "partials/seminar-datumi-category.njk" %}