---
title: Seminari i radionice
description: Prodaja, marketing i odnosi s javnošću
layout: layouts/page.njk
banner: seminari.jpg
navID: sem-pmoj
nav2ID: popis
pagination:
  data: seminari.pmojpopis
  size: 10
  alias: seminari
permalink: "edukacije/seminari-i-radionice/prodaja-marketing-i-odnosi-s-javnoscu/otvoreni-seminari-i-radionice{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Seminari i radionice - Prodaja, marketing i odnosi s javnošću"
    page_description: "Seminari i radionice - Prodaja, marketing i odnosi s javnošću"
---

<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">Kategorija: {{ description }}</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span><a href="/">Početna</a></span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ title }}</span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ description }}</span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">Otvoreni seminari i radionice</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

{% include "partials/seminar-popis-category.njk" %}