---
title: Seminari i radionice
description: Prodaja, marketing i odnosi s javnošću
layout: layouts/page.njk
banner: seminari.jpg
navID: sem-pmoj
nav2ID: popis
pagination:
  data: seminari.pmojpopis
  size: 10
  alias: seminari
permalink: "edukacije/seminari-i-radionice/prodaja-marketing-i-odnosi-s-javnoscu/otvoreni-seminari-i-radionice{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Seminari i radionice - Prodaja, marketing i odnosi s javnošću {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Seminari i radionice - Prodaja, marketing i odnosi s javnošću {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/seminari-header-popis.njk" %}

{% include "partials/seminar-popis-category.njk" %}