---
title: Seminari i radionice
description: Prodaja, marketing i odnosi s javnošću
layout: layouts/page.njk
banner: seminari.jpg
navID: sem-pmoj
nav2ID: datumi
pagination:
  data: seminari.pmojdatumi
  size: 10
  alias: seminari
permalink: "edukacije/seminari-i-radionice/prodaja-marketing-i-odnosi-s-javnoscu/datumi-odrzavanja{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Datumi održavanja seminara - Prodaja, marketing i odnosi s javnošću {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Datumi održavanja seminara - Prodaja, marketing i odnosi s javnošću {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/seminari-header-datumi.njk" %}

{% include "partials/seminar-datumi-category.njk" %}