---
title: Seminari i radionice
description: Pravo i zaštita podataka
layout: layouts/page.njk
banner: seminari.jpg
navID: sem-pzp
nav2ID: datumi
idx: no
pagination:
  data: seminari.pzpdatumi
  size: 10
  alias: seminari
permalink: "edukacije/seminari-i-radionice/pravo-i-zastita-podataka/datumi-odrzavanja{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Datumi održavanja seminara - Pravo i zaštita podatak {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Datumi održavanja seminara - Pravo i zaštita podataka {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/seminari-header-datumi.njk" %}

{% include "partials/seminar-datumi-category.njk" %}