---
title: Otvoreni seminari i radionice
description: Otvoreni seminari i radionice
layout: layouts/page.njk
banner: seminari.jpg
navID: sve
nav2ID: popis
pagination:
  data: seminari.sve
  size: 6
  alias: seminari
permalink: "edukacije/seminari-i-radionice/otvoreni-seminari-i-radionice{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Otvoreni seminari i radionice"
    page_description: "Otvoreni seminari i radionice"
---

<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">{{ description }}</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="/">Početna</a>
                        </span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span>Seminari i radionice</span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

<!-- sidebar -->
<div class="ttm-row sidebar ttm-sidebar-right ttm-bgcolor-white clearfix">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-xl-9 col-lg-8 content-area">
                
                <div class="row multi-columns-row ttm-boxes-spacing-10px isotope-project">

                {% for item in pagination.items %}

                <div class="ttm-box-col-wrapper col-lg-6">
                        <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-event featured-imagebox-course style1" >
                            <div class="ttm-post-thumbnail featured-thumbnail"> 
                                <img style="width:410px;height:230px;" alt="image" src="https://media.graphcms.com/resize=fit:clip,width:410,height:230/output=format:webp/{{ item.fotografija }}">
                            </div>
                            <div class="featured-content-post">
                                <div class="post-title" style="min-height:60px;!important;margin-top:30px;padding:0 20px;">
                                    <h5><a href="/edukacije/seminari-i-radionice/{{ item.kategorijaslug }}/{{ item.titleslug }}/">{{ item.title }}</a></h5>
                                </div>
                                <div class="post-desc featured-desc" style="padding:0 20px;">
                                    <p style="margin-top:0;margin-bottom:20px;padding-top:0">{{ item.excerpt | truncate(250) }}</p>
                                </div>
                                <div class="ttm-course-box-meta">
                                    <div class="ttm-enrolled">
                                        <span class="ttm-comments ttm-meta-line"><i class="fa fa-id-badge" aria-hidden="true"></i>
                                            {% for predavac in item.predavaci %}
                                            {% if loop.first %}
                                            {{ predavac.imeIPrezime }}
                                            {% else %}
                                            , {{ predavac.imeIPrezime }}
                                            {% endif %}
                                            {% endfor %}
                                        </span>
                                    </div>  
                                    <span class="ttm-lp-price"><ins>{{ item.cijena }}</ins></span>                            
                                </div>
                            </div>
                        </div><!-- featured-imagebox-post end-->
                    </div>

                {% endfor %}

                </div>

            </div>
            
            {% include "partials/seminaricategories.njk" %}

        </div><!-- row end -->
    </div>
</div>
<!-- sidebar end -->