---
title: Seminari i radionice
description: Svi otvoreni seminari i radionice
layout: layouts/page.njk
banner: seminari.jpg
# navID kontrolira active status navigacije
navID: sem-sve
# navID2 kontrolira ponašanje i sadržaj seminarcategories stupce
nav2ID: popis
pagination:
  data: seminari.svepopis
  size: 6
  alias: seminari
permalink: "edukacije/seminari-i-radionice/otvoreni-seminari-i-radionice{% if pagination.pageNumber > 0 %}/stranica/{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Svi otvoreni seminari i radionice {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Svi otvoreni seminari i radionice {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/seminari-header-popis.njk" %}

{% include "partials/seminar-popis-category.njk" %}