---
title: Seminari i radionice
description: Upravljanje i administracija
layout: layouts/page.njk
banner: seminari.jpg
navID: sem-uia
nav2ID: datumi
pagination:
  data: seminari.uiadatumi
  size: 10
  alias: seminari
permalink: "edukacije/seminari-i-radionice/upravljanje-i-administracija/datumi-odrzavanja{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Datumi održavanja seminara - Upravljanje i administracija {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Datumi održavanja seminara - Upravljanje i administracija {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/seminari-header-datumi.njk" %}

{% include "partials/seminar-datumi-category.njk" %}