---js
{
  layout: "layouts/page.njk",
  title: "Seminari i radionice",
  description: "Upravljanje i administracija",
  banner: "seminari.jpg",
  navID: "sem-uia",
  nav2ID: "popis",
  permalink: "edukacije/seminari-i-radionice/upravljanje-i-administracija/otvoreni-seminari-i-radionice{% if pagination.pageNumber > 0 %}/stranica/{{ pagination.pageNumber + 1}}{% endif %}/index.html",
  pagination: {
    data: "seminari.svepopis",
    size: 10,
	  alias: "seminari",
    before: function(data) {
      const sviobjekti = [];
	  
      for (const obj of data) {
        if ( obj.kategorijaslug === "upravljanje-i-administracija" ) {
            sviobjekti.push(obj);
        }
	    }
      if (!sviobjekti.length) {
        sviobjekti.push("prazno")
      }

      return sviobjekti;
    }
  },
  eleventyComputed: {
    page_title: "Seminari i radionice - Upravljanje i administracija {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}",
    page_description: "Seminari i radionice - Upravljanje i administracija {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
  }
}
---

{% include "partials/seminari-header-popis.njk" %}

{% include "partials/seminar-popis-category.njk" %}