---
title: Seminari i radionice
description: Upravljanje ljudskim potencijalima
layout: layouts/page.njk
banner: seminari.jpg
navID: sem-uljp
nav2ID: popis
idx: no
pagination:
  data: seminari.uljppopis
  size: 10
  alias: seminari
permalink: "edukacije/seminari-i-radionice/upravljanje-ljudskim-potencijalima/otvoreni-seminari-i-radionice{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Seminari i radionice - Upravljanje ljudskim potencijalima"
    page_description: "Seminari i radionice - Upravljanje ljudskim potencijalima"
---

<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h1 class="title">Kategorija: {{ description }}</h1>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span><a href="/">Početna</a></span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ title }}</span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ description }}</span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">Otvoreni seminari i radionice</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

{% include "partials/seminar-popis-category.njk" %}