---
title: Seminari i radionice
description: Upravljanje ljudskim potencijalima
layout: layouts/page.njk
banner: seminari.jpg
navID: sem-uljp
nav2ID: popis
pagination:
  data: seminari.uljppopis
  size: 10
  alias: seminari
permalink: "edukacije/seminari-i-radionice/upravljanje-ljudskim-potencijalima/otvoreni-seminari-i-radionice{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Seminari i radionice - Upravljanje ljudskim potencijalima {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Seminari i radionice - Upravljanje ljudskim potencijalima {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/seminari-header-popis.njk" %}

{% include "partials/seminar-popis-category.njk" %}