---
title: Seminari i radionice
description: Upravljanje ljudskim potencijalima
layout: layouts/page.njk
banner: seminari.jpg
navID: sem-uljp
nav2ID: datumi
idx: no
pagination:
  data: seminari.uljpdatumi
  size: 10
  alias: seminari
permalink: "edukacije/seminari-i-radionice/upravljanje-ljudskim-potencijalima/datumi-odrzavanja{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Datumi održavanja seminara - Upravljanje ljudskim potencijalima {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Datumi održavanja seminara - Upravljanje ljudskim potencijalima {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/seminari-header-datumi.njk" %}

{% include "partials/seminar-datumi-category.njk" %}