---js
{
  layout: "layouts/page.njk",
  title: "Seminari i radionice",
  description: "Zaštita na radu",
  banner: "seminari.jpg",
  navID: "sem-znr",
  nav2ID: "popis",
  permalink: "edukacije/seminari-i-radionice/zastita-na-radu/otvoreni-seminari-i-radionice{% if pagination.pageNumber > 0 %}/stranica/{{ pagination.pageNumber + 1}}{% endif %}/index.html",
  pagination: {
    data: "seminari.svepopis",
    size: 10,
	  alias: "seminari",
    before: function(data) {
      const sviobjekti = [];
	  
      for (const obj of data) {
        if ( obj.kategorijaslug === "zastita-na-radu" ) {
            sviobjekti.push(obj);
        }
	    }
      if (!sviobjekti.length) {
        sviobjekti.push("prazno")
      }

      return sviobjekti;
    }
  },
  eleventyComputed: {
    page_title: "Seminari i radionice - Zaštita na radu {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}",
    page_description: "Seminari i radionice - Zaštita na radu {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
  }
}
---

{% include "partials/seminari-header-popis.njk" %}

{% include "partials/seminar-popis-category.njk" %}