---
title: Seminari i radionice
description: Zaštita okoliša i upravljanje otpadom
layout: layouts/page.njk
banner: seminari.jpg
navID: sem-zouo
nav2ID: popis
idx: no
pagination:
  data: seminari.zouopopis
  size: 10
  alias: seminari
permalink: "edukacije/seminari-i-radionice/zastita-okolisa-i-upravljanje-otpadom/otvoreni-seminari-i-radionice{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Seminari i radionice - Zaštita okoliša i upravljanje otpadom {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Seminari i radionice - Zaštita okoliša i upravljanje otpadom {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/seminari-header-popis.njk" %}

{% include "partials/seminar-popis-category.njk" %}