---
title: Seminari i radionice
description: Zaštita okoliša i upravljanje otpadom
layout: layouts/page.njk
banner: seminari.jpg
navID: sem-zouo
nav2ID: datumi
pagination:
  data: seminari.zouodatumi
  size: 10
  alias: seminari
permalink: "edukacije/seminari-i-radionice/zastita-okolisa-i-upravljanje-otpadom/datumi-odrzavanja{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Datumi održavanja seminara - Zaštita okoliša i upravljanje otpadom {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Datumi održavanja seminara - Zaštita okoliša i upravljanje otpadom {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/seminari-header-datumi.njk" %}

{% include "partials/seminar-datumi-category.njk" %}