---
title: Financije i računovodstvo
description: Financije i računovodstvo
layout: layouts/page.njk
banner: blog.jpg
navID: blog-fir
pagination:
  data: objave.fir
  size: 5
  alias: objave
permalink: "blog/financije-i-racunovodstvo{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Blog - Financije i računovodstvo {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Blog - Financije i računovodstvo {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/blog-header.njk" %}

{% include "partials/blog-category.njk" %}