---js
{
  layout: "layouts/page.njk",
  title: "Informatika i uredsko poslovanje",
  description: "Informatika i uredsko poslovanje",
  banner: "blog.jpg",
  navID: "blog-iup",
  permalink: "blog/informatika-i-uredsko-poslovanje{% if pagination.pageNumber > 0 %}/stranica/{{ pagination.pageNumber + 1}}{% endif %}/index.html",
  pagination: {
    data: "objave.sve",
    size: 5,
	  alias: "objave",
    before: function(data) {
      const sviobjekti = [];
	  
      for (const obj of data) {
        if ( obj.categoryslug === "informatika-i-uredsko-poslovanje" ) {
            sviobjekti.push(obj);
        }
	    }
      if (!sviobjekti.length) {
        sviobjekti.push("prazno")
      }

      return sviobjekti;
    }
  },
  eleventyComputed: {
    page_title: "Blog - Informatika i uredsko poslovanje {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}",
    page_description: "Blog - Informatika i uredsko poslovanje {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
  }
}
---

{% include "partials/blog-header.njk" %}

{% include "partials/blog-category.njk" %}