---
title: Informatika i uredsko poslovanje
description: Informatika i uredsko poslovanje
layout: layouts/page.njk
banner: blog.jpg
navID: blog-iup
idx: no
pagination:
  data: objave.iup
  size: 5
  alias: objave
permalink: "blog/informatika-i-uredsko-poslovanje{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Blog - Informatika i uredsko poslovanje {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Blog - Informatika i uredsko poslovanje {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/blog-header.njk" %}

{% include "partials/blog-category.njk" %}