---
layout: layouts/page.njk
banner: blog.jpg
navID: blog
pagination:
  data: sveobjave
  size: 1
  alias: objava
permalink: blog/{{ objava.categoryslug }}/{{ objava.titleslug }}/index.html
eleventyComputed:
    page_title: "{{ objava.title }}"
    page_description: "{{ objava.excerpt }}"
    page_type: "article"
    objavaimage: "https://media.graphcms.com/resize=width:1200/{{ objava.photo }}"
    objavatekst: {{ objava.bodytext }}
    objavaauthor: {{ objava.author }}
---

{% include "partials/post-banner.njk" %}

<div class="site-main">

    <!-- sidebar -->
    <div class="ttm-row sidebar ttm-sidebar-right ttm-bgcolor-white clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-xl-9 col-lg-8 content-area">
                    <!-- post -->
                    <article class="post ttm-blog-single clearfix">
                        <!-- ttm-post-featured-wrapper -->
                        <div class="ttm-post-featured-wrapper ttm-featured-wrapper mb-20">
                            <div class="ttm-post-featured">
                                <img class="img-fluid" src="https://media.graphcms.com/{{ objava.photo }}" alt="">
                            </div>
                        </div>
                        <!-- ttm-post-featured-wrapper end -->
                        <!-- ttm-blog-single-content -->
                        <div class="ttm-blog-single-content">
                            <div class="ttm-post-entry-header">
                                <div class="post-meta">
                                    <span class="ttm-meta-line byline"><i class="fa fa-calendar"></i>{{ objava.date | datumObjave }}</span>
                                    <span class="ttm-meta-line byline"><i class="fa fa-user"></i>{{ objava.author }}</span>
                                    <span class="ttm-meta-line tags-links"><i class="fa fa-tag"></i>{{ objava.category }}</span>
                                </div>
                            </div>
                            <hr/>
                            <div class="entry-content mt-10">
                                <div class="ttm-box-desc-text">
                                    {{ objava.bodyhtml | safe}}
                                </div>
                            </div>
                            <hr/>
                        </div><!-- ttm-blog-single-content -->
                    </article><!-- post end -->
                </div>
               {% include "partials/blogcategories.njk" %}
            </div><!-- row end -->
        </div>
    </div>
    <!-- sidebar end -->

</div><!--site-main end-->