---
title: Ostalo
description: Ostalo
layout: layouts/page.njk
banner: blog.jpg
navID: blog-ostalo
idx: no
pagination:
  data: objave.ostalo
  size: 5
  alias: objave
permalink: "blog/ostalo{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Blog - Ostalo"
    page_description: "Blog - Ostalo"
---

{% include "partials/blog-header.njk" %}

{% include "partials/blog-category.njk" %}