---
title: Prodaja, marketing i odnosi s javnošću
description: Prodaja, marketing i odnosi s javnošću
layout: layouts/page.njk
banner: blog.jpg
navID: blog-pmoj
idx: no
pagination:
  data: objave.pmoj
  size: 5
  alias: objave
permalink: "blog/prodaja-marketing-i-odnosi-s-javnoscu{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Blog - Prodaja, marketing i odnosi s javnošću {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Blog - Prodaja, marketing i odnosi s javnošću {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/blog-header.njk" %}

{% include "partials/blog-category.njk" %}