---
title: Prodaja, marketing i odnosi s javnošću
description: Prodaja, marketing i odnosi s javnošću
layout: layouts/page.njk
banner: blog.jpg
navID: blog-pmoj
pagination:
  data: objave.pmoj
  size: 5
  alias: objave
permalink: "blog/prodaja-marketing-i-odnosi-s-javnoscu{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Blog - Prodaja, marketing i odnosi s javnošću"
    page_description: "Blog - Prodaja, marketing i odnosi s javnošću"
---

<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h1 class="title">Kategorija: {{ description }}</h1>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="/">Početna</a>
                        </span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span>
                            <a title="Blog" href="/blog">Blog</a>
                        </span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

{% include "partials/blog-category.njk" %}