---
title: Pravo i zaštita podataka
description: Pravo i zaštita podataka
layout: layouts/page.njk
banner: blog.jpg
navID: blog-pzp
pagination:
  data: objave.pzp
  size: 5
  alias: objave
permalink: "blog/pravo-i-zastita-podataka{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Blog - Pravo i zaštita podataka {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Blog - Pravo i zaštita podataka {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/blog-header.njk" %}

{% include "partials/blog-category.njk" %}