---
title: Upravljanje ljudskim potencijalima
description: Upravljanje ljudskim potencijalima
layout: layouts/page.njk
banner: blog.jpg
navID: blog-uljp
idx: no
pagination:
  data: objave.uljp
  size: 5
  alias: objave
permalink: "blog/upravljanje-ljudskim-potencijalima{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Blog - Upravljanje ljudskim potencijalima {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Blog - Upravljanje ljudskim potencijalima {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/blog-header.njk" %}

{% include "partials/blog-category.njk" %}