---
title: Zaštita okoliša i upravljanje otpadom
description: Zaštita okoliša i upravljanje otpadom
layout: layouts/page.njk
banner: blog.jpg
navID: blog-zouo
idx: no
pagination:
  data: objave.zouo
  size: 5
  alias: objave
permalink: "blog/zastita-okolisa-i-upravljanje-otpadom{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Blog - Zaštita okoliša i upravljanje otpadom {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Blog - Zaštita okoliša i upravljanje otpadom {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/blog-header.njk" %}

{% include "partials/blog-category.njk" %}