---
title: Hvala
description: Poruka je uspješno poslana.
layout: layouts/page.njk
banner: contact-us-banner.jpg
navID: kontakt
idx: no
---

<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">{{ description }}</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="/">Početna</a>
                        </span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

<!--- conatact-section -->
<section class="ttm-row conatact2-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <!-- section title -->
                <div class="section-title" style="text-align:center;">
                    <div class="title-header">
                        <h2 class="title">Hvala vam na poruci</h2>
                        <p>Potrudit ćemo se da odgovor dobijete unutar jednog radnog dana.</p>
                    </div>
                </div>
                <button class="w-100 submit ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-dark" onclick="window.location.href='/'">Povratak na početnu stranicu</button>
            </div>
            <div class="col-lg-3"></div>
        </div><!-- row end -->
    </div>
</section>
<!-- conatact-section end -->