---
title: In-house edukacije
description: In-house seminari i radionice
layout: layouts/page.njk
permalink: "/edukacije/in-house/index.html"
banner: in-house.jpg
navID: in-house
eleventyComputed:
    page_title: "In-house edukacije"
    page_description: "In-house edukacije"
---

<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h1 class="title">{{ description }}</h1>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="/">Početna</a>
                        </span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

<div class="container" style="padding-bottom:100px;">

<!--introduction-section-->
<section class="ttm-row introduction-section clearfix" style="padding-bottom:0px!important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-7 col-sm-9 mt-0 mx-auto">
                <!-- ttm_single_image-wrapper -->
                <div class="border mr_60 res-991-mr-0">
                    <div class="ttm_single_image-wrapper pt-10 pl-10 pr-10 pb-10">
                        <img class="img-fluid lazyload" data-src="/images/in-house-main.jpg" alt="In-house edukacije">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="pt-10 pl-80 res-991-pl-0 res-991-pt-30">
                    <!-- section title -->
                    <div class="section-title">
                        <div class="title-header">
                            <h3 class="title">Stručne edukacije za vašu organizaciju: In-House edukacije</h3>
                        </div>
                        <div class="heading-seperator"><span></span></div>
                    </div><!-- section title end -->
                    <p>Kad god želite educirati ili pripremiti više zaposlenika odjednom, praktičnije je organizirati edukaciju samo za vas.</p>
                    <p>Ovako dogovorene edukacije možemo prilagoditi vašim potrebama i napraviti gdje i kada vam najbolje odgovara.</p>
                    <p>Povremeno edukacije ili “key-note” govornika organiziramo i za potrebe nekog vašeg internog eventa (sastanka ili team buildinga ...)</p>
										<p>Organiziramo i OnLine edukacije samo za vas.</p>
										<p>Ispunite donji upitnik ili nas kontaktirajte telefonom ili mailom. Dogovorit ćemo što bi vam najbolje odgovaralo i kada i gdje se to može održati.</p>
                    <div class="row mt-35 mb-10 res-991-mb-0">
                        <div class="col-lg-6 col-md-5 col-sm-6">
                            <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor">
                                <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Edukacije u vašem prostoru</div></li>
                                <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Ušteda na troškovima</div></li>
                                <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Lakše učenje s manje stresa</div></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-5 col-sm-6">
                            <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor">
                                <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Odabir datuma održavanja</div></li>
                                <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Odabir tema</div></li>
                                <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Iskusni predavači</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>
<!--introduction-section-->

<!--element-section-->
<section class="element-row element-style clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="section-title clearfix">
                    <h3 class="title">Ovo su edukacije koje najčešće organiziramo kao In-House edukacije</h3>
                </div>
                <div class="res-991-pb-50">
                    <ul id="menu-footer-quick-links">
                        <li><a href="https://www.edukacije.hr/edukacije/seminari-i-radionice/upravljanje-i-administracija/od-kolege-do-voditelja/"><strong>Od kolege do voditelja</strong></a><br/>
												<i>Osnove leaderskih, organizacijskih i komunikacijskih vještina za managere. Sve ovo u samo dva dana. Ovo je jako dobro za mlađe koji tek postaju voditelji. Nakon ove radionice, često radimo još jednom za starije manager-e i upravu ili ponavljamo nakon 2-3 godine za novu generaciju managera-voditelja.</i>
												</li>
												<li><a href="https://www.edukacije.hr/edukacije/seminari-i-radionice/informatika-i-uredsko-poslovanje/excel-intenzivni-tecaj-za-poslovne-korisnike/"><strong>Excel-intenzivni tečaj za poslovne korisnike</strong></a><br/>
												<i>Samo ono što treba i što se najčešće koristi. Sadržaj prilagođavamo znanju vaših polaznika, dva puta po pola dana ili prema dogovoru. Ovaj tečaj ima i OnLine dio koji polaznici prolaze sami prije dolaska na radionice.</i>
												</li>
												<li><a href="https://www.edukacije.hr/edukacije/seminari-i-radionice/prodaja-marketing-i-odnosi-s-javnoscu/upravljanje-reklamacijama-i-komunikacijom-s-nezadovoljnim-kupcima/"><strong>Upravljanje reklamacijama i komunikacijom s nezadovoljnim kupcima</strong></a><br/>
												<i>U samo jedan dan, vaš tim može u okviru zadanih zakonskih propisa svladati najbolje prakse praktičnih i pragmatičnih komercijalnih okvira. Ako imate više timova na više lokacije, pokušajte se organizirati da svi dođu na jedno mjesto i da zajedno odvoje vrijeme za ovu radionicu.</i>
												</li>
												<li><a href="https://www.edukacije.hr/edukacije/seminari-i-radionice/upravljanje-ljudskim-potencijalima/svrsishodna-sistematizacija-radnih-mjesta/"><strong>Svrsishodna sistematizacija radnih mjesta</strong></a><br/>
												<i>Kako od postojeće napraviti sistematizaciju radnih mjesta koja će se koristiti i biti korisna. Naučit ćemo vas za jedan dan, a napravit ćete sami za “malo više” dana. Najbolje se pokazalo da na radionicu dođe tim koji će direktno raditi na novoj sistematizaciji.</i>
												</li>
												<li><a href="https://www.edukacije.hr/edukacije/seminari-i-radionice/upravljanje-i-administracija/prakticno-vodjenje-projekata/"><strong>Praktično vođenje projekata</strong></a><br/>
												<i>U dva vrlo intenzivna dana pokrivamo osnove PMI sustava vođenja projekata. Ovo je vrlo intenzivno i preporučujemo da za InHouse budu samo polaznici kojima ovo treba i koji su izrazili želju za ovom edukacijom.</i>
												</li>
                        <li><a href="https://www.edukacije.hr/edukacije/seminari-i-radionice/financije-i-racunovodstvo/provedba-eu-projekata-najcesce-greske-i-kako-ih-izbjeci/"><strong>Provedba EU projekata- najčešće greške i kako ih izbjeći</strong></a><br/>
												<i>Za one koji su u provedbi EU projekata; jedan dan jako korisno i praktično. Najbolje bi bilo da svi ključni ljudi koji rade ne provedbi dođu na ovu edukaciju.</i>
												</li>
												<li><a href="https://www.edukacije.hr/edukacije/seminari-i-radionice/prodaja-marketing-i-odnosi-s-javnoscu/efikasna-prodajna-komunikacija/"><strong>Efikasna prodajna komunikacija</strong></a><br/>
												<i>Jedna ekstra koncentrirana jednodnevna radionica da se ljudi koji prodaju prisjete najvažnijih elemenata prodajne kounikacije. Naša je preporuka da zajedno s timovima budu i njihovi manageri/voditelji.</i>
												</li>
												<li><a href="https://www.edukacije.hr/edukacije/seminari-i-radionice/upravljanje-i-administracija/efikasnije-upravljanje-voznim-parkom/"><strong>Efikasnije upravljanje voznim parkom</strong></a><br/>
												<i>Od planiranja, nabave, eksploatacije do obnove voznog parka, In-house može biti jedan ili dva dana. Ovaj In-hose najčešće ima samo dva-tri polaznika, voditelja voznog parka i njegovog zamjenika (ako takav postoji) i financijskog direktora ili direktora/vlasnika tvrtke.</i>
												</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-title clearfix">
                    <h3 class="title">Dogovorite termin prezentacije</h3>
                </div>
                <form id="ttm-inhouseform" name="inhouseForm" class="ttm-contactform wrap-form clearfix" method="post" action="/hvala" netlify-honeypot="bot-fld" netlify>
                    <div class="row">
                        <div class="form-group honeypot">
                            <input name="bot-fld" type="hidden" id="shoney">
                        </div>
                        <div class="col-md-6">
                            <label>
                                <span class="text-input with-icon-pos_left"> 
                                    <i class="fa fa-user"></i>
                                    <input name="Ime" type="text" value="" placeholder="Ime i prezime*" required="required">
                                </span>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <span class="text-input with-icon-pos_left">
                                    <i class="fa fa-envelope-o"></i>
                                    <input name="Email" type="text" value="" placeholder="Email adresa*" required="required">
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <span class="text-input with-icon-pos_left">
                                    <i class="fa fa-phone"></i>
                                    <input name="Telefon" type="text" value="" placeholder="Telefon">
                                </span>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <span class="text-input with-icon-pos_left">
                                    <i class="fa fa-building"></i>
                                    <input name="Organizacija" type="text" value="" placeholder="Organizacija*" required="required">
                                </span>
                            </label>
                        </div>
                    </div>
                    <label>
                        <span class="text-input with-icon-pos_left">
                            <i class="fa fa-comments-o"></i>
                            <textarea name="Poruka" rows="3" placeholder="Poruka*" required="required"></textarea>
                        </span>
                    </label>
                    <button class="w-100 submit ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-dark" type="submit">Pošalji poruku</button>
                </form>
            </div>
        </div><!-- row end -->
    </div>
</section>
<!-- element-section end -->

</div>