---
title: In-house edukacije
description: In-house seminari i radionice
layout: layouts/page.njk
permalink: "/edukacije/in-house/index.html"
banner: in-house.jpg
navID: in-house
eleventyComputed:
    page_title: "In-house edukacije"
    page_description: "In-house edukacije"
---

<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h1 class="title">{{ description }}</h1>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="/">Početna</a>
                        </span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

<div class="container" style="padding-bottom:100px;">

<!--introduction-section-->
<section class="ttm-row introduction-section clearfix" style="padding-bottom:0px!important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-7 col-sm-9 mt-0 mx-auto">
                <!-- ttm_single_image-wrapper -->
                <div class="border mr_60 res-991-mr-0">
                    <div class="ttm_single_image-wrapper pt-10 pl-10 pr-10 pb-10">
                        <img class="img-fluid lazyload" data-src="/images/in-house-main.jpg" alt="In-house edukacije">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="pt-10 pl-80 res-991-pl-0 res-991-pt-30">
                    <!-- section title -->
                    <div class="section-title">
                        <div class="title-header">
                            <h3 class="title">Stručne edukacije samo za vašu organizaciju</h3>
                        </div>
                        <div class="heading-seperator"><span></span></div>
                    </div><!-- section title end -->
                    <p>Imate potrebu educirati i pripremiti veći broj zaposlenika (više od 4) za nove radne izazove, projekte, procedure… no poslati ih sve odjednom na seminar izrazito je nepraktično i teško izvedivo. Prijavite se na inhouse edukaciju.</p>
                    <p>Dolaskom na inhouse edukaciju ne biste bili primorani zaustaviti radne procese na cijeli jedan ili čak više dana, kao i podmiriti troškove kotizacija, putovanja, dnevnica, noćenja i obroka (ukoliko je edukacija u drugom gradu).</p>
                    <p>Istraživanja pokazuju da radnici koji se educiraju na poznatom terenu
                    (poput prostorija vlastite tvrtke), okruženi svojim kolegama, uče lakše i brže, s manje stresa i imaju veću korist od edukacije.</p>
                    <div class="row mt-35 mb-10 res-991-mb-0">
                        <div class="col-lg-6 col-md-5 col-sm-6">
                            <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor">
                                <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Edukacije u vašem prostoru</div></li>
                                <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Ušteda na troškovima</div></li>
                                <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Lakše učenje s manje stresa</div></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-5 col-sm-6">
                            <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor">
                                <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Odabir datuma održavanja</div></li>
                                <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Odabir tema</div></li>
                                <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Iskusni predavači</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>
<!--introduction-section-->

<!--element-section-->
<section class="element-row element-style clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="section-title clearfix">
                    <h3 class="title">Područja koja pokrivamo</h3>
                </div>
                <div class="res-991-pb-50">
                    <ul id="menu-footer-quick-links">
                        <li><a href="#">Human resource – ljudski potencijali</a></li>
                        <li><a href="#">Radno i trgovačko pravo</a></li>
                        <li><a href="#">GDPR – zaštita podataka</a></li>
                        <li><a href="#">EU fondovi i projekti – prijava, provedba</a></li>
                        <li><a href="#">Odnosi s javnošću i medijima, treninzi javnih nastupa, organizacija evenata,
                            radionice pisanja</a></li>
                        <li><a href="#">Marketing i web marketing (upravljanje društvenim mrežama)</a></li>
                        <li><a href="#">Prodaja i postprodaja (rješavanje reklamacija)</a></li>
                        <li><a href="#">Fleet management (upravljanje voznim parkom)</a></li>
                        <li><a href="#">Management (obuka linijskih i novih managera te stres, time i konflikt management)</a></li>
                        <li><a href="#">Zaštita na radu</a></li>
                        <li><a href="#">Društveno odgovorno poslovanje i korporativna kultura</a></li>
                        <li><a href="#">Project management</a></li>
                        <li><a href="#">IT : Office 365, Excel i drugi programi</a></li>
                        <li><a href="#">Poslovni strani jezici</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-title clearfix">
                    <h3 class="title">Dogovorite termin prezentacije</h3>
                </div>
                <form id="ttm-inhouseform" name="inhouseForm" class="ttm-contactform wrap-form clearfix" method="post" action="/hvala" netlify-honeypot="bot-fld" netlify>
                    <div class="row">
                        <div class="form-group honeypot">
                            <input name="bot-fld" type="hidden" id="shoney">
                        </div>
                        <div class="col-md-6">
                            <label>
                                <span class="text-input with-icon-pos_left"> 
                                    <i class="fa fa-user"></i>
                                    <input name="Ime" type="text" value="" placeholder="Ime i prezime*" required="required">
                                </span>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <span class="text-input with-icon-pos_left">
                                    <i class="fa fa-envelope-o"></i>
                                    <input name="Email" type="text" value="" placeholder="Email adresa*" required="required">
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <span class="text-input with-icon-pos_left">
                                    <i class="fa fa-phone"></i>
                                    <input name="Telefon" type="text" value="" placeholder="Telefon">
                                </span>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <span class="text-input with-icon-pos_left">
                                    <i class="fa fa-building"></i>
                                    <input name="Organizacija" type="text" value="" placeholder="Organizacija*" required="required">
                                </span>
                            </label>
                        </div>
                    </div>
                    <label>
                        <span class="text-input with-icon-pos_left">
                            <i class="fa fa-comments-o"></i>
                            <textarea name="Poruka" rows="3" placeholder="Poruka*" required="required"></textarea>
                        </span>
                    </label>
                    <button class="w-100 submit ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-dark" type="submit">Pošalji poruku</button>
                </form>
            </div>
        </div><!-- row end -->
    </div>
</section>
<!-- element-section end -->

</div>