---
title: Kontakt
description: Kontaktirajte nas.
layout: layouts/page.njk
banner: contact-us-banner.jpg
navID: kontakt
eleventyComputed:
    page_title: "Kontakt"
    page_description: "Kontaktirajte nas"
---

<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h1 class="title">{{ description }}</h1>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="/">Početna</a>
                        </span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

<!--- conatact-section -->
<section class="ttm-row conatact2-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title">
                    <div class="title-header">
                        <h5>Svi prijedlozi, komentari, pohvale ali i pokude su dobro došli.</h5>
                        <h2 class="title">Pošaljite nam poruku</h2>
                    </div>
                    <div class="heading-seperator"><span></span></div>
                </div><!-- section title end -->
                <p>Ako imate pitanja ili biste htjeli više informacija o našim uslugama, molimo vas ispunite ovaj obrazac a mi ćemo se potruditi odgovoriti vam unutar jednog radnog dana.</p>
            </div>
        </div><!-- row end -->
        <div class="row">
            <div class="col-lg-12">
                <div class="border spacing-8">
                    <div class="row">
                        <div class="col lg 3"></div>
                        <div class="col-lg-6">
                            <form id="ttm-contactform" name="kontaktForma" class="ttm-contactform wrap-form clearfix" method="post" action="/hvala" netlify-honeypot="bot-fld" netlify>
                                <div class="row">
                                    <div class="form-group honeypot">
                                        <input name="bot-fld" type="hidden" id="shoney">
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <span class="text-input with-icon-pos_left"> 
                                                <i class="fa fa-user"></i>
                                                <input name="Ime" type="text" value="" placeholder="Ime*" required="required">
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <span class="text-input with-icon-pos_left">
                                                <i class="fa fa-user"></i>
                                                <input name="Prezime" type="text" value="" placeholder="Prezime*" required="required">
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            <span class="text-input with-icon-pos_left">
                                                <i class="fa fa-phone"></i>
                                                <input name="Telefon" type="text" value="" placeholder="Telefon">
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <span class="text-input with-icon-pos_left">
                                                <i class="fa fa-envelope-o"></i>
                                                <input name="Email" type="text" value="" placeholder="Email adresa*" required="required">
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <label>
                                    <span class="text-input with-icon-pos_left">
                                        <i class="fa fa-question"></i>
                                        <input name="Predmet" type="text" value="" placeholder="Predmet*" required="required">
                                    </span>
                                </label>
                                <label>
                                    <span class="text-input with-icon-pos_left">
                                        <i class="fa fa-comments-o"></i>
                                        <textarea name="Poruka" rows="3" placeholder="Vaša poruka*" required="required"></textarea>
                                    </span>
                                </label>
                                <button class="w-100 submit ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-dark" type="submit">Pošalji poruku</button>
                            </form>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- conatact-section end -->