---
title: O nama
description: O edukacijE.hr
layout: layouts/page.njk
banner: o-nama.jpg
navID: o-nama
eleventyComputed:
    page_title: "O nama"
    page_description: "Saznajte više o edukacijE.hr"
---

<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">{{ description }}</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="/">Početna</a>
                        </span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

<!--about-section-->
<section class="ttm-row about-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title section-title title-style-center_text">
                    <div class="title-header">
                        <h5>YOU CAN LEARN</h5>
                        <h2 class="title">O edukacijE.hr</h2>
                    </div>
                    <div class="heading-seperator"><span></span></div>
                </div><!-- section title end -->
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="pt-15">
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xl">
                                <i class="flaticon-work"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Uvijek aktuelni seminari i radionice</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Our academy offers needful courses. We’re suggesting you devote a few hours every week to advancing your career.</p>
                            </div>
                        </div>
                    </div>
                    <!-- featured-icon-box end -->
                    <div class="mt-35 mb-35">
                        <span class="ttm-horizontal_sep"></span>
                    </div>
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content ">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xl">
                                <i class="flaticon-mortarboard"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Stručni predavači i autori</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Group of cultivated teachers is core part of academy to run. We’ve hired well knowledgeable &amp; skilled teachers for each course.</p>
                            </div>
                        </div>
                    </div>
                    <!-- featured-icon-box end -->
                    <div class="mt-35 mb-35">
                        <span class="ttm-horizontal_sep"></span>
                    </div>
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content ">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xl">
                                <i class="flaticon-student-2"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Velik izbor on-line sadržaja</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Group of cultivated teachers is core part of academy to run. We’ve hired well knowledgeable &amp; skilled teachers for each course.</p>
                            </div>
                        </div>
                    </div>
                    <!-- featured-icon-box end -->
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="pt-15 pl-35 res-991-pl-0 res-991-pt-30">
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-border ttm-icon_element-style-round ttm-icon_element-color-skincolor ttm-icon_element-size-sm">
                                <i class="flaticon-instruction"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-desc">
                                <p>edukacijE.hr</p>
                            </div>
                            <div class="featured-title">
                                <h5>Jednostavno do praktičknih znanja</h5>
                            </div>
                        </div>
                    </div>
                    <!-- featured-icon-box end -->
                    <br/>
                    <p>Svima koji danas posluju, znanje i iskustvo je potrebnije nego ikada ranije. Poslovanje se mijenja toliko brzo i često, da je kontinuirano stjecanje novih znanja i iskustava, nužno za o(p)stanak kako tvrtkama, tako i poduzetnicima i zaposlenicima.</p>
                    <p>Mi vjerujemo da se mnoga znanja i iskustva mogu savladati u kratkom roku i s ograničenim sredstvima. Naše edukacije osiguravaju vam upravo to – najveću moguću korist uz minimalan utrošak vremena i novca.</p>
                    <p>Od 2006. s vama radimo na postizanju boljih poslovnih rezultata i unapređivanju poduzetničke klime u Hrvatskoj. Više od 10 godina stvaramo individualne i specijalističke edukacije te programe usavršavanja stručnog osoblja i managera, a prije dvije godine pokrenuli smo portal edukacije.hr kao odgovor na vaše upite.</p>
                    <p>Želja nam je kroz ovaj portal ponuditi otvorene, ali i inhouse seminare, edukacije i on-line proizvode koji će vam omogućiti da iskoristite znanja i iskustva najboljih stručnjaka u svojim područjima, servirana i prezentirana na adekvatan način i uz prihvatljivi utrošak vremena i novaca.</p>
                    <p>Neka nam svima bude bolje!</p>
                    <div class="d-flex align-items-center pt-10">
                        <div class="pr-20">
                            <h5 class="font-weight-normal mb-0">Siniša Bronić</h5>
                            <small>Founder / CEO</small>
                        </div>
                        <img class="img-fluid" src="/images/author-sign-2.png" alt="ttm_single_image-wrapper">
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>
<!--about-section end-->