---
title: Paketi proizvoda
description: Paketi proizvoda
layout: layouts/page.njk
banner: paketi.jpg
navID: paketi
---

{% include "partials/page-banner.njk" %}

<section class="ttm-row grid-section clearfix">
            <div class="container">
        <div class="row ">
            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6">
                <!-- featured-imagebox-course -->
                <div class="featured-imagebox featured-imagebox-course">
                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                        <img class="img-fluid" src="/images/course/course-one-526x470.jpg" alt="image"> 
                    </div>
                    <div class="featured-content featured-content-post">
                        <div class="featured-content-post-inner">
                            <div class="post-title featured-title">
                                <h5><a href="courses-single.html">Complete Beginner to the Web Design</a></h5>
                            </div>
                            <div class="post-desc featured-desc">
                                <p>Are you excited to learn the web design, but not start yet...</p>
                            </div>
                        </div>
                        <div class="ttm-course-box-meta">
                            <div class="ttm-enrolled">
                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>78</span>
                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>2</span>
                            </div>  
                            <span class="ttm-lp-price"><ins>$69.00</ins></span>                            
                        </div>
                    </div>
                </div><!-- featured-imagebox-course end-->
            </div>
            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6">
                <!-- featured-imagebox-course -->
                <div class="featured-imagebox featured-imagebox-course">
                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                        <img class="img-fluid" src="/images/course/course-two-526x470.jpg" alt="image"> 
                    </div>
                    <div class="featured-content featured-content-post">
                        <div class="featured-content-post-inner">
                            <div class="post-title featured-title">
                                <h5><a href="courses-single.html">Learn PHP Programming  From Scratch</a></h5>
                            </div>
                            <div class="post-desc featured-desc">
                                <p>Now PHP is one of the best used programming languages...</p>
                            </div>
                        </div>
                        <div class="ttm-course-box-meta">
                            <div class="ttm-enrolled">
                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>12</span>
                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>2</span>
                            </div>                
                            <span class="ttm-lp-price "><ins>$85.00</ins></span>
                        </div>
                    </div>
                </div><!-- featured-imagebox-course end-->
            </div>
            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6">
                <!-- featured-imagebox-course -->
                <div class="featured-imagebox featured-imagebox-course">
                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                        <img class="img-fluid" src="/images/course/course-three-526x470.jpg" alt="image"> 
                    </div>
                    <div class="featured-content featured-content-post">
                        <div class="featured-content-post-inner">
                            <div class="post-title featured-title">
                                <h5><a href="courses-single.html">Full Data Analysis Course For Beginner</a></h5>
                            </div>
                            <div class="post-desc featured-desc">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply rando...</p>
                            </div>
                        </div>
                        <div class="ttm-course-box-meta">
                            <div class="ttm-enrolled">
                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>122</span>
                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>4</span>
                            </div>  
                            <span class="ttm-lp-price"><del>$69.00</del><ins>$45.00</ins></span>
                        </div>
                    </div>
                </div><!-- featured-imagebox-course end-->
            </div>
            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6">
                <!-- featured-imagebox-course -->
                <div class="featured-imagebox featured-imagebox-course">
                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                        <img class="img-fluid" src="/images/course/course-four-526x470.jpg" alt="image"> 
                    </div>
                    <div class="featured-content featured-content-post">
                        <div class="featured-content-post-inner">
                            <div class="post-title featured-title">
                                <h5><a href="courses-single.html">Masters Course in Adobe Photoshop</a></h5>
                            </div>
                            <div class="post-desc featured-desc">
                                <p>Top-rated Photoshop courses are covers most of all important...</p>
                            </div>
                        </div>
                        <div class="ttm-course-box-meta">
                            <div class="ttm-enrolled">
                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>27</span>
                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>2</span>
                            </div>  
                            <span class="ttm-lp-price ttm-free-course"><ins>Free</ins></span>                       
                        </div>
                    </div>
                </div><!-- featured-imagebox-course end-->
            </div>
            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6">
                <!-- featured-imagebox-course -->
                <div class="featured-imagebox featured-imagebox-course">
                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                        <img class="img-fluid" src="/images/course/course-six-526x470.jpg" alt="image"> 
                    </div>
                    <div class="featured-content featured-content-post">
                        <div class="featured-content-post-inner">
                            <div class="post-title featured-title">
                                <h5><a href="courses-single.html">Visual Basic Web Courses With Live Project</a></h5>
                            </div>
                            <div class="post-desc featured-desc">
                                <p>Specially designed to gear up for students and job seekers...</p>
                            </div>
                        </div>
                        <div class="ttm-course-box-meta">
                            <div class="ttm-enrolled">
                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>75</span>
                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>2</span>
                            </div>  
                            <span class="ttm-lp-price "><ins>$39.00</ins></span>
                        </div>
                    </div>
                </div><!-- featured-imagebox-course end-->
            </div>
            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6">
                <!-- featured-imagebox-course -->
                <div class="featured-imagebox featured-imagebox-course">
                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                        <img class="img-fluid" src="/images/course/course-five-526x470.jpg" alt="image"> 
                    </div>
                    <div class="featured-content featured-content-post">
                        <div class="featured-content-post-inner">
                            <div class="post-title featured-title">
                                <h5><a href="courses-single.html">Learning A Mobile App Development</a></h5>
                            </div>
                            <div class="post-desc featured-desc">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply rando...</p>
                            </div>
                        </div>
                        <div class="ttm-course-box-meta">
                            <div class="ttm-enrolled">
                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>12</span>
                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>2</span>
                            </div>                              
                            <span class="ttm-lp-price "><ins>$85.00</ins></span>
                        </div>
                    </div>
                </div><!-- featured-imagebox-course end-->
            </div>
            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6">
                <!-- featured-imagebox-course -->
                <div class="featured-imagebox featured-imagebox-course">
                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                        <img class="img-fluid" src="/images/course/course-seven-526x470.jpg" alt="image"> 
                    </div>
                    <div class="featured-content featured-content-post">
                        <div class="featured-content-post-inner">
                            <div class="post-title featured-title">
                                <h5><a href="courses-single.html">Build A Full Web App System From Scratch</a></h5>
                            </div>
                            <div class="post-desc featured-desc">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply rando...</p>
                            </div>
                        </div>
                        <div class="ttm-course-box-meta">
                            <div class="ttm-enrolled">
                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>24</span>
                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>2</span>
                            </div>                              
                            <span class="ttm-lp-price "><ins>$85.00</ins></span>
                        </div>
                    </div>
                </div><!-- featured-imagebox-course end-->
            </div>
            <div class="ttm-box-col-wrapper col-lg-3 col-md-4 col-sm-6">
                <!-- featured-imagebox-course -->
                <div class="featured-imagebox featured-imagebox-course">
                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                        <img class="img-fluid" src="/images/course/course-eight-526x470.jpg" alt="image"> 
                    </div>
                    <div class="featured-content featured-content-post">
                        <div class="featured-content-post-inner">
                            <div class="post-title featured-title">
                                <h5><a href="courses-single.html">The Complete JavaScript Course For Beginner</a></h5>
                            </div>
                            <div class="post-desc featured-desc">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply rando...</p>
                            </div>
                        </div>
                        <div class="ttm-course-box-meta">
                            <div class="ttm-enrolled">
                                <span class="ttm-count ttm-meta-line"><i class="fa fa-user" aria-hidden="true"></i>112</span>
                                <span class="ttm-comments ttm-meta-line"><i class="fa fa-comment-o"></i>4</span>
                            </div>                              
                            <span class="ttm-lp-price "><ins>$85.00</ins></span>
                        </div>
                    </div>
                </div><!-- featured-imagebox-course end-->
            </div>
        </div>
    </div>
</section>