---
permalink: /robots.txt
---
Sitemap: {{ site.url }}/sitemap_posts.xml
Sitemap: {{ site.url }}/sitemap_seminari-na-zahtjev.xml
Sitemap: {{ site.url }}/sitemap_seminari-uzivo.xml
User-agent:*
Disallow: