---
permalink: /robots.txt
---
Sitemap: {{ site.url }}/sitemap_posts.xml
Sitemap: {{ site.url }}/sitemap_edukacije.xml
Sitemap: {{ site.url }}/sitemap_seminari-i-radionice.xml
Sitemap: {{ site.url }}/sitemap_akademije.xml
User-agent:*
Disallow: