---
permalink: /searchindex-seminari.json
eleventyExcludeFromCollections: true
---

[
{% for seminar in seminari.svepopis %}
{
   "title":"{{ seminar.title }}",
   "url":"/edukacije/seminari-i-radionice/{{ seminar.kategorijaslug }}/{{ seminar.titleslug }}/"
} {%- if loop.last == false -%},{% endif %}
{% endfor %} 
]