---
permalink: /searchindex-akademije.json
eleventyExcludeFromCollections: true
---

[
{% for edukacija in akademijeoff %}
{
   "title":"{{ edukacija.naziv }}",
   "url":"/edukacije/akademije/{{ edukacija.slug }}/"
} {%- if loop.last == false -%},{% endif %}
{% endfor %}
,
{% for edukacija in akademijeon %}
{
   "title":"{{ edukacija.naziv }}",
   "url":"/edukacije/online-akademije/{{ edukacija.slug }}/"
} {%- if loop.last == false -%},{% endif %}
{% endfor %}
]