---
permalink: /sitemap_akademije.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for akademija in akademijeoff %}
  <url>
    <loc>{{ site.url }}/akademije/{{ akademija.slug }}/</loc>
    <lastmod>{{ akademija.updated }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
{%- endfor %}
{%- for akademija in akademijeon %}
  <url>
    <loc>{{ site.url }}/online-akademije/{{ akademija.slug }}/</loc>
    <lastmod>{{ akademija.updated }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
{%- endfor %}
</urlset>