---
title: Uvjeti korištenja
description: Uvjeti korištenja edukacijE.hr web stranica
layout: layouts/page.njk
banner: uvjeti-koristenja.jpg
navID: uvjeti-koristenja
---

{% include "partials/page-banner.njk" %}

<!--- conatact-section -->
<section class="ttm-row conatact2-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title">
                    <p><strong>Gastro Mreža d.o.o.</strong></p>
                    <p>Datum stupanja na snagu: 28.05.2018.</p>
                    <br/>
                    <div class="heading-seperator"><span></span></div>
                </div><!-- section title end -->
                <p>Ovdje opisati uvjete korištenja web stranica i LMS potala</p>
            </div>
        </div><!-- row end -->
    </div>
</section>
<!-- conatact-section end -->