---
title: Uvjeti korištenja
description: Uvjeti korištenja edukacijE.hr web stranica
layout: layouts/page.njk
banner: uvjeti-koristenja.jpg
navID: uvjeti-koristenja
eleventyComputed:
    page_title: "Uvjeti korištenja"
    page_description: "Uvjeti korištenja web stranice edukacijE.hr"
---

<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">{{ description }}</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="/">Početna</a>
                        </span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

<!--- conatact-section -->
<section class="ttm-row conatact2-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title">
                    <p><strong>Gastro Mreža d.o.o.</strong></p>
                    <p>Datum stupanja na snagu: 28.05.2018.</p>
                    <br/>
                    <div class="heading-seperator"><span></span></div>
                </div><!-- section title end -->
                <p>Sadržaj na web stranici www.edukacije.hr zaštićen je autorskim pravima. Neovlašteno korištenje bilo kojeg dijela web stranice  bez dozvole vlasnika autorskih prava, smatra se kršenjem autorskih prava.</p>
                <p>Dokumenti, podaci i informacije objavljeni na web stranicama www.edukacije.hr ne smiju se reproducirati, distribuirati ili na bilo koji način koristiti u komercijalne svrhe bez izričitog pristanka Gastro mreže d.o.o. Zagreb.</p>
                <p>Dokumenti, podaci i informacije objavljeni na ovoj web stranici mogu se koristiti samo za individualne potrebe korisnika, uz poštivanje svih autorskih i vlasničkih prava te prava trećih osoba.</p>
                <p>Korištenjem sadržaja ove web stranice korisnik prihvaća sve rizike koji nastaju iz korištenja ove web stranice te prihvaća koristiti sadržaj ove web stranice isključivo za osobnu uporabu i na vlastitu odgovornost.</p>
                <p>Gastro mreža d.o.o. se u potpunosti odriče svake odgovornosti koja na bilo koji način može nastati iz, ili je na bilo koji način vezana za korištenje ove web stranice, za bilo koje radnje korisnika uporabom ili zlouporabom sadržaja ove web stranice, te za bilo kakvu štetu koja može nastati korisniku ili bilo kojoj trećoj strani u vezi s uporabom ili zlouporabom korištenja sadržaja ove web stranice.</p>
                <p>Ova web stranica sadrži dokumente, podatke, informacije kao i veze do drugih Internet stranica kreiranih od strane trećih osoba koje će se, kad god je to moguće, kao takve označavati.</p>
                <p>Gastro mreža d.o.o.  nema nadzor nad navedenim dokumentima, podacima, informacijama ili drugim Internet stranicama te se u potpunosti odriče svake odgovornosti, uključujući ali ne ograničeno na točnost, potpunost i dostupnost sadržaja na Internet stranicama kreiranim od strane trećih osoba.</p>
                <p>Korištenjem web stranica www.edukacije.hr smatra se da su korisnici u svakom trenutku upoznati i suglasni s ovim uvjetima korištenja.</p>
            </div>
        </div><!-- row end -->
    </div>
</section>
<!-- conatact-section end -->