---
title: Zaštita privatnosti
description: Politika zaštite privatnosti korisnika
layout: layouts/page.njk
banner: zastita-privatnosti.jpg
navID: zastita-privatnosti
eleventyComputed:
    page_title: "Zaštita privatnosti"
    page_description: "Politika zaštite privatnosti korisnika"
---

<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h1 class="title">{{ description }}</h1>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="/">Početna</a>
                        </span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

<!--- conatact-section -->
<section class="ttm-row conatact2-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title">
                    <p><strong>Gastro Mreža d.o.o.</strong></p>
                    <p>Datum stupanja na snagu: 28.05.2018.</p>
                    <br/>
                    <div class="heading-seperator"><span></span></div>
                </div><!-- section title end -->
                <p>Gastro Mreža d.o.o. poštuje privatnost i štiti osobne podatke svojih korisnika, zaposlenika, poslovnih partnera ili drugih osoba s kojima poslovno surađuje i čije osobne podatke prikuplja i obrađuje pri svom poslovanju.</p>
                <p>Pravila privatnosti su temeljni akt koji opisuje svrhu i ciljeve prikupljanja, obrade i upravljanja osobnim podacima svih portala koje objedinjuje Gastro Mreža d.o.o. kao voditelj obrade.</p>
                <p>Ovim Pravilima se definiraju osnovna načela i pravila zaštite osobnih podataka u skladu s poslovnim i sigurnosnim zahtjevima tvrtke Gastro Mreža d.o.o., kao i zakonskim propisima, najboljim praksama i međunarodno prihvaćenim standardima. U svrhu poštene i transparentne obrade, Gastro Mreža d.o.o. želi pružiti jasne informacije o obradi i zaštiti osobnih podataka koje prikuplja i obrađuje te omogućiti jednostavan nadzor i upravljanje nad osobnim podacima i  privolama.</p><br/>

                <h4>O nama</h4>
                <p>Gastro Mreža upravlja slijedećim portalima:</p>
                <ul>
                    <li>edukacije.hr</li>
                </ul>
                <p>Gastro Mreža d.o.o. se u okviru ovih Pravila privatnosti navodi u okviru svakog od navedenih portala.</p>
                <p>Ova Pravila privatnosti primjenjuju se na sve gore navedene portale.</p>
                <p>Svaki portal ovlašten je utvrditi vlastita načela i pravila vezana uz  zaštitu osobnih podataka u skladu s poslovnim i sigurnosnim zahtjevima portala, ovim Pravilima,  Općom uredbom o zaštiti podataka i drugim primjenjivim važećim zakonima vezanim uz zaštitu osobnih podataka.</p><br/>

                <h4>Voditelj obrade</h4>
                <p>Gastro Mreža d.o.o., Mandaličina 16 HR-10000 Zagreb, OIB: 05656990598, skraćeno Gastro Mreža, je voditelj obrade (“Voditelj obrade“) za prikupljanje i obradu osobnih podataka navedenih u ovim pravilima privatnosti (“Pravila privatnosti“).</p><br/>

                <h4>Koje osobne podatke prikupljamo i obrađujemo</h4>
                <p>Voditelj obrade u okviru svoga poslovanja može prikupljati slijedeće osobne podatke prema kategorijama ispitanika:</p>
                <p><strong>Zainteresirane strane:</strong></p>
                <ul>
                    <li>kontakt podaci (npr. ime, prezime, e-mail adresa i sl.)</li>
                    <li>podaci potrebni za sklapanje ugovora (npr. ime, prezime, adresa, OIB i sl.).</li>
                </ul>
                <p><strong>Korisnici:</strong></p>
                <ul>
                    <li>kontakt podaci (npr. ime, prezime, e-mail adresa i sl.),</li>
                    <li>podaci potrebni za sklapanje ugovora (npr. ime, prezime, adresa, OIB i sl.),</li>
                    <li>podaci potrebni za izvršenje ugovora (npr. ime, prezime, e-mail, IBAN i sl.)</li>
                </ul>
                <p><strong>Kandidati za zapošljavanje:</strong></p>
                <ul>
                    <li>kontakt podaci (npr. ime, prezime, e-mail adresa, broj mobitela i sl.),</li>
                    <li>podaci iz životopisa (npr. podaci o obrazovanju, prijašnjim zaposlenjima, radnom stažu, fotografija i sl.),
                    <li>rezultati testiranja</li>
                </ul>
                <p><strong>Bivši i sadašnji zaposlenici:</strong></p>
                <ul>
                    <li>svi podaci propisani pozitivnim propisima koji se odnose na radno-pravne odnose, računovodstvene i knjigovodstvene propise (npr. ime, prezime, adresa, OIB, godina rođenja, JMBG, i sl.),</li>
                    <li>podaci za potrebu interne komunikacije unutar tvrtke (npr. poslovne fotografije i sl.),</li>
                    <li>podaci potrebni za obavljanje poslova radnog mjesta poput organiziranja putovanja u stranu zemlju, ostvarivanje pogodnosti vezanih uz posao i sl. (npr. ime, prezime, zaposlenje, broj putne isprave, vozačke dozvole, broj djece i sl.).</li>
                </ul>
                <p><strong>Vanjski suradnici i poslovni partneri:</strong></p>
                <ul>
                    <li>kontakt podaci (primjerice: ime, prezime, e-mail adresa, broj mobitela i sl.),</li>
                    <li>podaci iz životopisa (primjerice: podaci o obrazovanju, prijašnjim zaposlenjima, radnom stažu i sl.),</li>
                    <li>podaci potrebni za izvršenje ugovora (primjerice: ime, prezime, e-mail, IBAN i sl.),</li>
                    <li>podaci potrebni za ispunjenje zakonskih uvjeta ulaska u Republiku Hrvatsku ili drugu zemlju (ime, prezime, zaposlenje, broj putne isprave i sl.).</li>
                </ul><br/>

                <h4>Osobni podaci koje ne prikupljamo i ne obrađujemo:</h4>
                <p>Gastro Mreža ne obrađuju podatke koji otkrivaju rasno ili etničko podrijetlo, politička mišljenja, vjerska ili filozofska uvjerenja ili članstvo u sindikatu, genetske podatke te podatke o zdravlju, spolnom životu ili seksualnoj orijentaciji pojedinca.</p><br/>

                <h4>Kako prikupljamo osobne podatke</h4>
                <p>Gastro Mreža može osobne podatke prikupljati na različite načine, uključujući</p>
                <ul>
                    <li>Vašim ispunjavanjem naših narudžbenica, upita, anketa ili online upitnika,</li>
                    <li>U okviru međusobnih poslovnih procesa te prilikom ispunjavanja naših zakonskih obveza ili obveza iz ugovora o prodaji naših proizvoda, usluga i edukacija,</li>
                    <li>Vašim praćenjem naše stranice uključujući i e-mail komunikaciju upućenu prema nama,</li>
                    <li>Vašim javljanjem na naš oglas za posao,</li>
                    <li>Vašom dostavom informacija u vidu objave sadržaja na našoj stranici, našim portalima ili platformama ili tijekom Vaše izravne komunikacije na društvenim mrežama, uključujući osobnu komunikaciju i online komunikaciju putem web stranica ili e-maila.</li>
                </ul><br/>

                <h4>Svrhe obrade osobnih podataka</h4>
                <p>Gastro Mreža može obrađivati osobne podatke u sljedeće svrhe:</p>
                <ul>
                    <li>usklađivanje sa zakonskim i regulatornim propisima unutar i izvan područja Republike Hrvatske,</li>
                    <li>ugovaranje i korištenje proizvoda i usluga koje Gastro Mreža pruža za ispunjenje svojih obveza iz ugovora o prodaji usluga i proizvoda,</li>
                    <li>ponuda usluga i proizvoda Gastro Mreže na tržištu,</li>
                    <li>analiza i administriranje stranice i nadzora upotrebe stranice,</li>
                    <li>unaprjeđenje usluga i proizvoda, mjerenje Vašeg zadovoljstva našim uslugama,</li>
                    <li>upravljanje odnosima s ispitanicima (korisnicima stranice i/ili usluga) i drugim osobama u obavljanju svog poslovanja,</li>
                    <li>odabir kandidata za zapošljavanje</li>
                </ul>
                <p>Za marketing aktivnosti koje mogu biti:</p>
                <ul>
                    <li>webinari,</li>
                    <li>on line seminari,</li>
                    <li>preuzimanje materijala s Interneta,</li>
                    <li>javna ili interna događanja (u prostorima korisnika ili poslovnih partnera),</li>
                    <li>slanje newslettera</li>
                </ul><br/>

                <h4>Osnove za obradu podataka</h4>
                <p>Gastro Mreža obrađuje osobne podatke temeljem sljedećih osnova:</p>
                <ul>
                    <li>izvršavanje ugovora o prodaji proizvoda i usluga Gastro Mreže ili drugog ugovora sklopljenog između ispitanika i Gastro Mreže,</li>
                    <li>ispunjavanje pravnih obveza Gastro Mreže, osobito s osnove računovodstvenih, knjigovodstvenih, propisa radnog prava i ostalih pravnih obveza,</li>
                    <li>legitimni interes za pružanje usluge internet stranice i upravljanje istom, u statističke svrhe, radi utvrđivanja te rješavanja sporova i vođenja postupaka između ispitanika i Gastro Mreže, radi provedbe postupka odabira kandidata za zapošljavanje,</li>
                    <li>izričite privole ispitanika za primanje marketinških poruka, newslettera, e-mail obavijesti o uslugama ili anketa za mjerenje zadovoljstva uslugama te za obradu vaših upita</li>
                </ul><br/>

                <h4>Vrijeme čuvanja osobnih podataka</h4>
                <p>Osobne podatke pohranjujemo samo dok su nam potrebni u svrhe u koje ih prikupljamo, odnosno u svrhu ispunjenja ugovornog odnosa ili zakonskih obveza, a najdulje prema sljedećim kriterijima:</p>
                <ul>
                    <li>Osobne podatke prikupljene u svrhu ispunjavanja zakonskih i regulatornih obveza pohranjujemo prema propisanim rokovima,</li>
                    <li>Osobne podatke prikupljene u svrhu prodaje proizvoda i usluga pohranjujemo u trajanju ugovornog odnosa,</li>
                    <li>Osobne podatke prikupljene u svrhu marketinških aktivnosti pohranjujemo dok ne povučete privolu, otkažete pretplatu ili ne zatražite brisanje pretplate, ili pak nakon razdoblja neaktivnosti dužeg od dvije godine,</li>
                    <li>Osobni podaci brišu se po prestanku ugovornog ili radnog odnosa, a najkasnije po isteku svih zakonskih obveza pohranjivanja, osim u slučaju pokretanja sudskog ili srodnog postupka koji zahtjeva čuvanje podataka,</li>
                    <li>Po isteku rokova pohrane, osobne podatke uklanjamo  iz sustava i arhiva ili ih anonimiziramo na način da se osoba više ne može identificirati.</li>
                </ul><br/>

                <h4>Dijeljenje osobnih podataka</h4>
                <p>Gastro Mreža može na temelju svog legitimnog interesa dijeliti osobne podatke između portala kojima upravlja.</p>
                <p>Gastro Mreža neće dijeliti podatke s trećim osobama osim u slijedećim slučajevima:</p>
                <ul>
                    <li>ako postoji zakonska obveza ili izričito ovlaštenje na temelju zakona,<li>
                    <li>ako za obavljanje pojedinih poslova angažiramo drugu osobu kao tzv. podizvođača, tj. izvršitelja obrade, koji djeluje isključivo po nalogu Gastro Mreže pri čemu Gastro Mreža osigurava sve mjere zaštite podataka kao da ove poslove obavlja sama,</li>
                    <li>ako je podatke potrebno proslijediti trećim osobama radi izvršenja ugovora s ispitanikom.</li>
                </ul>
                <p>Takve treće osobe uključuju:</p>
                <ul>
                    <li>Zakonodavna, nadzorna i regulatorna tijela unutar i izvan područja Republike Hrvatske,</li>
                    <li>Dobavljače koje angažiramo radi obavljanja usluga u ime i za račun Gastro Mreže, za izvršenje obveza iz ugovora s ispitanicima</li>
                </ul>
                <p>Osobne podatke obrađujemo u Republici Hrvatskoj. Iznimno ih možemo obrađivati i u drugim državama (npr. kada se za pružanje određene usluge ili dijela usluge koja uključuje obradu osobnih podataka angažira podizvođač iz druge države), i to u pravilu državama članicama Europske unije. Iznimno ih možemo obrađivati i u trećim zemljama, ali u takvim situacijama se uvijek primjenjuju odgovarajuće mjere zaštite osobnih podataka, minimalno na način kao da se osobni podaci obrađuju u Republici Hrvatskoj (npr. primjenom tzv. Standardnih ugovornih klauzula EU-a za obrađivače u trećim zemljama, drugim pravno obvezujućim i provedivim instrumentima, obvezujućim korporativnim pravilima, certificiranjem itd).</p><br/>

                <h4>Vaša prava i kako ih možete ostvariti</h4>
                <p>Gastro Mreža poštuje pravo na privatnost, podatke prikuplja i obrađuje samo uz postojanje zakonitih osnova obrade te ispitanici u svakom trenutku zadržavaju određena prava u odnosu na obrade njihovih podataka.</p>
                <p>Temeljem mjerodavnog zakonskog okvira, imate pravo zatražiti pristup, ispravak ili brisanje osobnih podataka, zatražiti ograničenje ili prijenos osobnih podataka te uložiti prigovor na obradu osobnih podataka.</p>
                <p>Ukoliko smatrate da je obrada osobnih podataka koju provodimo protivna propisima o zaštiti osobnih podataka molimo Vas da nas obavijestite o istome pisanim putem na e-mail adresu: <a href="dpo@gastromreza.hr">dpo@gastromreza.hr</a>.</p>
                <p>Imate pravo podnijeti prigovor za to nadležnom nadzornom tijelu u Republici Hrvatskoj, odnosno Agenciji  za zaštitu osobnih podataka, Zagreb, Martićeva 14, a od 25. svibnja 2018. godine i nadzornom tijelu unutar EU-a.</p>
                <p><br/>

                <h4>Zaštita osobnih podataka i sigurnosna praksa</h4>
                <p>Kako bi se osigurala maksimalna zaštita osobnih podataka, Gastro Mreža provodi odgovarajuće fizičke, tehničke i organizacijske mjere zaštite. Pristup podacima ograničen je samo na one podatke koji su potrebni za obavljanje pojedinih poslova i to isključivo ovlaštenim osobama koje neposredno rade na pružanju usluge, te na poboljšanju kvalitete i naplati usluge, u skladu s jasno utvrđenim ulogama i odgovornostima. Svi zaposlenici Gastro Mreže obvezani su ugovorima o povjerljivosti podataka, dok s partnerima ugovaramo odgovarajuće mjere zaštite.</p>
                <p>Gastro Mreža ne preuzima odgovornost za sigurnost prijenosa podataka putem Interneta, web stranica, mobilnih aplikacija, računalnih sustava odnosno putem bilo kakvih sustava izvan naše nadležnosti.</p><br/>

                <h4>Automatska obrada podataka</h4>
                <p>Gastro Mreža ne provodi automatsku obradu podataka.</p><br/>

                <h4>Kolačići (Cookies)</h4>
                <p>Kako bi naši portali ispravno radili te kako bismo i dalje unaprjeđivali vaše korisničko iskustvo na našim portalima, stranice povremeno na vaše računalo spreme malenu količinu informacija odnosno takozvane „kolačiće“ (Cookies).</p>
                <p>Kolačić je informacija spremljena na Vaše računalo od strane web stranice koju posjetite. Kolačići obično spremaju Vaše postavke, postavke za web stranicu, kao što su preferirani jezik ili adresa, a mogu sadržavati i druge osobne podatke ovisno o postavkama vašeg Internet preglednika.</p>
                <p>Prilikom ponovnog otvaranja prethodno posjećene web stranice Internet preglednik šalje natrag kolačiće koji pripadaju toj stranici, omogućujući prikazivanje informacija prilagođenih Vašim potrebama.</p>
                <p>Imate pravo isključiti kolačiće. Internetski preglednici obično su programirani na način da im je prihvaćanje kolačića zadana postavka što¸možete promijeniti u postavkama Vašeg preglednika.</p>
                <p>Više informacija o kolačićima možete pročitati ovdje: <a href="https://www.aboutcookies.org" target="_blank">https://www.aboutcookies.org</a></p><br/>

                <h4>Završne odredbe</h4>
                <p>Ova Pravila privatnosti primjenjuju se od 28. svibnja 2018. godine.</p>
                <p>Svaka eventualna promjena Pravila privatnosti će biti objavljena na našoj web stranici <a href="https://gastromreza.hr/" target="_blank">https://gastromreza.hr</a></p>
            </div>
        </div><!-- row end -->
    </div>
</section>
<!-- conatact-section end -->