<div class="col-xl-3 col-lg-4 widget-area sidebar-right ttm-col-bgcolor-yes ttm-bg ttm-right-span ttm-bgcolor-grey mt_60 pt-60 mb_60 pb-60 res-991-mt-0 res-991-pt-0">

    <aside class="widget widget-categories with-title">
        <h3 class="widget-title">Naručite akademiju</h3>

        {% if akademija.datumi | length > 0%}

        <div class="container">
            <div class="row">
                <h6>Broj polaznika (max. 3)</h6>
                <input id="qnt" type="number" value="1" min="1" max="3" step="1"/>
            </div>
            <div class="row ttm-meta-line ttm-course-price" style="margin-top:30px;" id="jed-cijena">
                <h6 style="width:100%">Jedinična cijena</h6>
                <strong style="color: #88402C;font-size:20px;">{{ akademija.cijena }}</strong>
            </div>
            <div class="row ttm-meta-line" style="margin-top:30px;">
                <h6 style="width:100%">Popusti (obračun u košarici)</h6>
                <p style="font-size:14px;">10% za više od dvije prijave iz iste tvrtke</p>
                <p style="font-size:14px;">25% fizičke osobe</p>
                <p style="font-size:14px;">50% neprofitne organizacije</p>
            </div>
            <div class="row ttm-meta-line" style="margin-top:30px;">
                <h6 style="width:100%">Opcije plaćanja</h6>
                <p style="font-size:14px;">Plaćanje prema izdanoj ponudi.</p>
                <p style="font-size:14px;">Za narudžbu nisu potrebne kartice.</p>
            </div>
            <hr/>
            <div class="row ttm-meta-line" style="margin-top:30px;">
                <p style="font-size:14px;">Klikom na donji gumb smatra se da razumijete i prihavaćate sve odredbe iz <u><a href="/uvjeti-koristenja/" target="_blank">Uvjeta korištenja</a></u> i politike <u><a href="/zastita-privatnosti/" target="_blank">Zaštite privatnosti</a></u></p>
            </div>
            <button
            id="buy-button"
            data-item-id="{{akademija.sifraProizvoda}}"
            data-item-price="{{ akademija.cijenaCart }}"
            data-item-quantity="1"
            data-item-url="{{ site.url }}/edukacije/akademije/{{ akademija.slug }}"
            data-item-description="Šifra: {{ akademija.sifraProizvoda }}"
            data-item-image="https://media.graphcms.com/resize=fit:clip,width:120/{{ akademija.fotografija }}"
            data-item-name="{{ akademija.naziv }} ({{akademija.sifraProizvoda}})"
            data-item-stackable="never"
            data-item-min-quantity="1"
            data-item-max-quantity="3"
            data-item-custom1-name="Kupujete kao (odaberite):"
            data-item-custom1-options="Pravna osoba|Fizička osoba[-{{ akademija.popustCartOsoba }}]|Neprofitna organizacija[-{{ akademija.popustCartNgo }}]"
            data-item-custom1-value="Pravna osoba"
            data-item-custom2-name="Odaberite datum edukacije:"
            data-item-custom2-options="
                {% for datum in akademija.datumi %}
                    {{ datum.date | datumSeminara }} 
                {% endfor %}
            "
            data-item-custom3-name="Podaci prvog polaznika"
            data-item-custom3-type="textarea"
            data-item-custom3-placeholder="Oblik unosa: Ime Prezime, Email, Telefon"
            data-item-custom3-required="true"
            data-item-custom4-name="Podaci drugog polaznika"
            data-item-custom4-type="textarea"
            data-item-custom4-placeholder="Oblik unosa: Ime Prezime, Email, Telefon"
            data-item-custom4-required="false"
            data-item-custom5-name="Podaci trećeg polaznika"
            data-item-custom5-type="textarea"
            data-item-custom5-placeholder="Oblik unosa: Ime Prezime, Email, Telefon"
            data-item-custom5-required="false"
            data-item-custom6-name="Molimo vas provjerite da li broj polaznika odgovara količini naručenih edukacija"
            data-item-custom6-type="readonly"
            style="margin-top:30px;"
            class="snipcart-add-item lp-button button button-purchase-course ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-dark">Naručite akademiju</button>
        </div>
        {% else %}
        <div class="container">
            <div class="ttm-btn-box pb-20">
                <div class="form-group">
                    <h5>Trenutno nemamo dostupnih datuma</h5>
                </div>
            </div>
        </div>
        {% endif %}
    </aside>
    <hr style="margin-left: -15px;"/>
    <aside class="widget widget-download with-title">
        <h3 class="widget-title">Podijelite akademiju</h3>
        <div class="container">
            <div>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" style="padding: 0 .3em;"><i class="fa fa-2x fa-facebook-square"></i></a>
                <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text=" target="_blank" style="padding: 0 .3em;"><i class="fa fa-2x fa-twitter-square"></i></a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" target="_blank" style="padding: 0 .3em;"><i class="fa fa-2x fa-linkedin-square"></i></a>
                <a href="https://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}" target="_blank" style="padding: 0 .3em;"><i class="fa fa-2x fa-pinterest-square"></i></a>
                <a href="mailto:info@edukacije.hr?subject={{ akademija.title }}" target="_blank" style="padding: 0 .5em;" target="_blank"><i class="fa fa-2x fa-envelope-square"></i></a>
            </div>
        </div>
    </aside>
</div>