<div class="col-xl-3 col-lg-4 widget-area sidebar-right ttm-col-bgcolor-yes ttm-bg ttm-right-span ttm-bgcolor-grey mt_60 pt-60 mb_60 pb-60 res-991-mt-0 res-991-pt-0">

    <aside class="widget widget-categories with-title">
        <h3 class="widget-title">Naručite akademiju</h3>

        {% if akademija.datumi | length > 0%}

        <div class="container">
            <div class="row ttm-meta-line ttm-course-price" style="margin-top:30px;" id="jed-cijena">
                <h6 style="width:100%">Jedinična cijena</h6>
                <strong style="color: #88402C;font-size:20px;">{{ akademija.cijena }}</strong>
            </div>
            <div class="row ttm-meta-line" style="margin-top:30px;">
                <h6 style="width:100%">Popusti</h6>
                <p style="font-size:14px;">10% za više od dvije prijave iz iste tvrtke</p>
                <p style="font-size:14px;">25% fizičke osobe</p>
                <p style="font-size:14px;">50% neprofitne organizacije</p>
            </div>
            <hr/>
            <div class="row ttm-meta-line" style="margin-top:30px;">
                <p style="font-size:14px;">Klikom na donji gumb smatra se da razumijete i prihavaćate sve odredbe iz <u><a href="/uvjeti-koristenja/" target="_blank">Uvjeta korištenja</a></u> i politike <u><a href="/zastita-privatnosti/" target="_blank">Zaštite privatnosti</a></u></p>
            </div>

            <script src ="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
            <script type="text/javascript">
                var JFL_211825335778362 = new JotformFeedback({
                formId: '211825335778362',
                base: 'https://form.jotform.com/',
                iframeParameters: {
                    'nazivEdukacije': '{{ akademija.naziv }}',
                    'sifraProizvoda': '{{ akademija.sifraProizvoda }}',
                    'jedinicnaCijena': '{{ akademija.cijenaCart }}',
                    'vrstaProizvoda': 'akademija',
                    'pocetakEdukacije': '{% for datum in akademija.datumi %}{{ datum.date | datumSeminaraNo }}\n{% endfor %}'
                },
                windowTitle: 'Rezervirajte akademiju',
                background: '#FFA500',
                fontColor: '#FFFFFF',
                type: '1',
                height: 1000,
                width: 800,
                openOnLoad: false
                });
            </script>
            <button class="lp-button button button-purchase-course ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-dark btn lightbox-211825335778362" style="margin-top:50px;">Rezervirajte akademiju</button>
            
        </div>
        {% else %}
        <div class="container">
            <div class="ttm-btn-box pb-20">
                <div class="form-group">
                    <h5>Trenutno nemamo dostupnih datuma</h5>
                </div>
            </div>
        </div>
        {% endif %}
    </aside>
    <hr style="margin-left: -15px;"/>
    <aside class="widget widget-download with-title">
        <h3 class="widget-title">Podijelite akademiju</h3>
        <div class="container">
            <div>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" style="padding: 0 .3em;" rel="noopener" aria-label="Podijelite ovu akademiju na svojim Facebook stranicama"><i class="fa fa-2x fa-facebook-square"></i></a>
                <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text=" target="_blank" style="padding: 0 .3em;" rel="noopener" aria-label="Podijelite ovu akademiju na svom Twitter profilu"><i class="fa fa-2x fa-twitter-square"></i></a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" target="_blank" style="padding: 0 .3em;" rel="noopener" aria-label="Podijelite ovu akademiju na svom Linkedin profilu"><i class="fa fa-2x fa-linkedin-square"></i></a>
                <a href="https://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}" target="_blank" style="padding: 0 .3em;" rel="noopener" aria-label="Podijelite ovu akademiju na svom Pinterest profilu"><i class="fa fa-2x fa-pinterest-square"></i></a>
                <a href="mailto:info@edukacije.hr?subject={{ akademija.title }}" target="_blank" style="padding: 0 .5em;" target="_blank" rel="noopener" aria-label="Podijelite ovu akademiju email porukom"><i class="fa fa-2x fa-envelope-square"></i></a>
            </div>
        </div>
    </aside>
</div>