<div class="col-xl-3 col-lg-4 widget-area sidebar-right ttm-col-bgcolor-yes ttm-bg ttm-right-span ttm-bgcolor-grey mt_60 pt-60 mb_60 pb-60 res-991-mt-0 res-991-pt-0">
    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
    <aside class="widget widget-Categories with-title">
        <h3 class="widget-title">Kategorije</h3>
        <ul>
            <li><a href="/blog/upravljanje-ljudskim-potencijalima" class="{% if navID == 'blog-uljp' %}active{% endif %}">Upravljanje ljudskim potencijalima</a></li>
            <li><a href="/blog/prodaja-marketing-i-odnosi-s-javnoscu" class="{% if navID == 'blog-pmoj' %}active{% endif %}">Prodaja, marketing i odnosi s javnošću</a></li>
            <li><a href="/blog/upravljanje-i-administracija" class="{% if navID == 'blog-uia' %}active{% endif %}">Upravljanje i administracija</a></li>
            <li><a href="/blog/informatika-i-uredsko-poslovanje" class="{% if navID == 'blog-iup' %}active{% endif %}">Informatika i uredsko poslovanje</a></li>
            <li><a href="/blog/pravo-i-zastita-podataka" class="{% if navID == 'blog-pzp' %}active{% endif %}">Pravo i zaštita podataka</a></li>
            <li><a href="/blog/financije-i-racunovodstvo" class="{% if navID == 'blog-fir' %}active{% endif %}">Financije i računovodstvo</a></li>
            <li><a href="/blog/zastita-na-radu" class="{% if navID == 'blog-znr' %}active{% endif %}">Zaštita na radu</a></li>
            <li><a href="/blog/zastita-okolisa-i-upravljanje-otpadom" class="{% if navID == 'blog-zouo' %}active{% endif %}">Zaštita okoliša i upravljanje otpadom</a></li>
        </ul>
    </aside>
    <aside class="widget widget-download with-title">
        <h3 class="widget-title">Preuzimanja</h3>
        <ul class="download">
            <li><a href="#"><i class="fa fa-file-pdf-o"></i>Brošura</a></li>
            <li><a href="#"><i class="fa fa-file-word-o"></i>GDPR obrazac</a></li>
            <li><a href="#"><i class="fa fa-files-o"></i>Download.txt</a></li>
        </ul>
    </aside>
</div>