<div class="ttm-page-title-row" style="background: url(/images/{{ banner }})!important">
    <div class="ttm-page-title-row-inner ttm-textcolor-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">Kategorija: {{ description }}</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="/">Početna</a>
                        </span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">Kategorije</span>
                        <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                        <span class="current" style="color:#F77F00">{{ title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>