<!--footer start-->
<footer class="footer ttm-bgcolor-darkgrey ttm-textcolor-white clearfix">
    <div class="second-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_text clearfix">
                        <div class="footer-logo">
                            <h3 class="widget-title">Impressum</h3>
                        </div>
                        <div class="textwidget widget-text">
                            <p class="pb-10 pr-30 res-575-pr-0">
                            Edukacije organizira i provodi:<br/>
                            Gastro mreža d.o.o.<br/>
                            Mandaličina 16<br/>
                            10000 Zagreb<br/>
                            OIB: 05656990598<br/>
                            E-mail: info @ edukacije . hr<br/>
                            Tel.: <a href="tel:+38515579093">01 / 55 79 093</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_nav_menu clearfix">
                        <h3 class="widget-title">Naše usluge</h3>
                        <ul id="menu-footer-quick-links">
                            <li><a href="/edukacije/seminari-i-radionice/otvoreni-seminari-i-radionice/" rel=”nofollow”>Seminari i radionice</a></li>
                            <li><a href="/edukacije/online-edukacije/zbirke-dokumenata/" rel="nofollow">Zbirke dokumenata</a></li>
                            <li><a href="/edukacije/online-edukacije/" rel="nofollow">Online edukacije</a></li>
                            <li><a href="/edukacije/in-house/" rel="nofollow">In-house edukacije</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget style2 widget-out-link clearfix">
                        <h3 class="widget-title">edukacijE.hr</h3>
                        <ul id="menu-footer-quick-links">
                            <li><a href="/uvjeti-koristenja" rel="nofollow">Uvjeti korištenja</a></li>
                            <li><a href="/zastita-privatnosti" rel="nofollow">Zaštita privatnosti</a></li>
                        </ul>
                        <div style="max-width: 90%;max-height: 100%;margin-top:20px;">
                        <img src="/images/esif.jpg" alt="ESIF Financijski Instrumenti">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget-text clearfix">
                        <h3 class="widget-title">Prijava na Newsletter</h3>
                        <form id="subscribe-form" name="newsletter" method="POST" action="/newsletter" netlify-honeypot="bot-news" data-netlify="true" data-netlify-recaptcha="true">
                            <div class="honeypot">
																<input name="bot-news" type="hidden" id="shoney">
														</div>
														<div class="ttm_subscribe_form">
                                <input type="email" name="email" placeholder="Upišite vašu email adresu" required>
                                <button class="btn" type="submit" aria-label="Pretplati se na newsletter"> <i class="fa fa-paper-plane-o"></i> </button>
                            </div>
                            <div data-netlify-recaptcha="true"></div>
                        </form>
                        <p style="margin-top:20px;">Unosom emaila potvrđujete da razumijete i prihavaćate sve odredbe <a href="/uvjeti-koristenja/" target="_blank"><u>Uvjeta korištenja</u></a> i politike <a href="/zastita-privatnosti/" target="_blank"><u>Zaštite privatnosti</u></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer-text text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center pb-15">Copyright &copy; 2021<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, Gastro mreža d.o.o. A "serverless" website, developed by <a href="https://staticweb.dev/" target="_blank" rel="noopener">Staticweb</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->