<!--footer start-->
<footer class="footer ttm-bgcolor-darkgrey ttm-textcolor-white clearfix">
    <div class="second-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_text clearfix">
                        <div class="footer-logo">
                            <img id="footer-logo-img" class="img-center lazyload" data-src="images/footer-logo.png" alt="">
                        </div>
                        <div class="textwidget widget-text">
                            <p class="pb-10 pr-30 res-575-pr-0">Uniaro University was established by J.H Merthon in 1920 for the public benefit. Afterwards, it is recognized globally</p>
                        </div>
                    </div>
                    <div class="widget widget_timing clearfix">
                        <h3 class="widget-title">Opening Hours</h3>
                        <div class="ttm-timelist-block-wrapper">
                            <ul class="ttm-timelist-block pr-15">
                                <li>Mon - sat <span class="service-time">09am - 05pm</span></li>
                                <li>Sunday<span class="service-time">Closed</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_nav_menu clearfix">
                        <h3 class="widget-title">Usefull Links</h3>
                        <ul id="menu-footer-quick-links">
                            <li><a href="#">Physics & Astronomy</a></li>
                            <li><a href="#">General Engineering</a></li>
                            <li><a href="#">Departments Services</a></li>
                            <li><a href="#">Geography & Geology</a></li>
                            <li><a href="#">Campus Directions</a></li>
                            <li><a href="#">Academic Solutions</a></li>
                            <li><a href="#">About Our College</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget style2 widget-out-link clearfix">
                        <h3 class="widget-title">Recent Posts</h3>
                        <ul class="widget-post ttm-recent-post-list pr-5">
                            <li>
                                <a href="blog-single.html"><img class="lazyload" data-src="https://via.placeholder.com/150x150?text=150x150+blog-01.jpg" alt="post-img"></a>
                                <span class="post-date">August 12, 2019</span>
                                <a href="blog-single.html">I Turned A Challenge Into A Positive Thing</a>
                            </li>
                            <li>
                                <a href="blog-single.html"><img class="lazyload" data-src="https://via.placeholder.com/150x150?text=150x150+blog-02.jpg" alt="post-img"></a>
                                <span class="post-date">september 28, 2019</span>
                                <a href="blog-single.html">Choose The Right Place, At The Right Time</a>
                            </li>
                            <li>
                                <a href="blog-single.html"><img class="lazyload" data-src="https://via.placeholder.com/150x150?text=150x150+blog-03.jpg" alt="post-img"></a>
                                <span class="post-date">October 30, 2019</span>
                                <a href="blog-single.html">Build Responsive Real World Websites</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_nav_menu clearfix">
                        <h3 class="widget-title">Our Services</h3>
                        <ul id="menu-footer-services">
                            <li><a href="#">Certification</a></li>
                            <li><a href="#">Resources</a></li>
                            <li><a href="#">E Learning</a></li>
                            <li><a href="#">Book Store</a></li>
                            <li><a href="#">Kids Courses</a></li>
                            <li><a href="#">Admissions</a></li>
                            <li><a href="#">Employment</a></li>
                            <li><a href="#">Membership</a></li>
                        </ul>
                    </div>
                    <div class="widget widget-text clearfix">
                        <h3 class="widget-title">Newsletter</h3>
                        <form id="subscribe-form" method="post" action="#" data-mailchimp="true">
                            <div class="ttm_subscribe_form">
                                <input type="email" name="email" placeholder="Enter Email Address Here...." required="">
                                <button class="btn" type="submit"> <i class="fa fa-paper-plane-o"></i> </button>
                            </div>
                            <div class="subscribe-response"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer-text text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul id="menu-footer-menu" class="footer-nav-menu ttm-textcolor-white">
                        <li><a href="#">Employees</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Free Language Services</a></li>
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Webmaster Login</a></li>
                    </ul>
                    <div class="text-center pb-15">Copyright © 2019 Uniaro Theme by <a href="https://themetechmount.com/">ThemetechMount</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->