<!--header start-->
<header id="masthead" class="header ttm-header-style-01">
    <!-- top_bar -->
    <div class="top_bar ttm-bgcolor-darkgrey ttm-textcolor-white clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 d-flex flex-row align-items-center">
                    <div class="top_bar_contact_item">
                        <div class="top_bar_icon"><i class="fa fa-envelope-o"></i></div><a href="mailto:info@edukacije.hr" target="_blank">info@edukacije.hr</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <div class="top_bar_icon"><i class="fa fa-phone"></i></div>01 / 55 79 093
                    </div>
                    <div class="top_bar_contact_item ml-auto">
                        <a href="/" style="{% if navID == 'pocetna' %}color:#F77F00;{% endif %}">Početna</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <a href="/o-nama" style="{% if navID == 'o-nama' %}color:#F77F00;{% endif %}">O nama</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <a href="/blog" style="{% if '/blog' in page.url %}color:#F77F00;{% endif %}">Blog</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <a href="/kontakt" style="{% if '/kontakt' in page.url %}color:#F77F00;{% endif %}">Kontakt</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <div class="top_bar_social">
                            <ul class="social-icons">
                                <li><a class="tooltip-bottom" target="_blank" href="https://www.facebook.com/EdukacijEhr-390679021469000" rel="noopener" aria-label="Posjeitite edukacijE.hr Facebook stranice"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="https://www.linkedin.com/company/18852729/" rel="noopener" aria-label="Posjeitite edukacijE.hr Facebook stranice"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="https://www.instagram.com/edukacije.hr/" rel="noopener" aria-label="Posjeitite edukacijE.hr Instagram stranice"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="https://www.youtube.com/channel/UCsXJK-egclFM3GFQrPIQdLQ/videos" rel="noopener" aria-label="Posjeitite edukacijE.hr YouTube kanal"><i class="fa fa-youtube"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="/feed.xml" aria-label="Pretplata na RSS feed"><i class="fa fa-rss"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor" href="https://lms.edukacije.hr" target="_blank" rel="noopener">LMS Login</a>
                </div>
            </div>
        </div>
    </div><!-- top_bar end-->
    <!-- site-header-menu -->
    <div id="site-header-menu" class="site-header-menu ttm-bgcolor-white">
        <div class="site-header-menu-inner ttm-stickable-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!--site-navigation -->
                        <div class="site-navigation d-flex flex-row">
                            <!-- site-branding -->
                            <div class="site-branding mr-auto">
                                <a class="home-link" href="/" title="edukacijE.hr" rel="home">
                                    <img src="/images/logo-img.png" alt="edukacijE.hr logo">
                                </a>
                            </div><!-- site-branding end -->
                            <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                <span class="menubar-box">
                                    <span class="menubar-inner"></span>
                                </span>
                            </div>
                            <!-- menu -->
                            <nav class="main-menu menu-mobile" id="menu">
                                <ul class="menu">
                                    <li class="nav-item" style="margin-right:50px!important;">
                                        <form class="navbar-form" id="searchbox" method="get" action="#">
                                            <div class="form-group" style="display:inline;">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Unesite riječ za pretragu" style="border: 2px solid rgba(0, 43, 92, 0.08)!important;" id="search_query_top" name="s" value="" autocomplete="off" onkeypress="return event.keyCode != 13;">
                                                </div>
                                            </div>
                                        </form>
                                        <div class="header_search">
                                            <div class="header_search_content" id="hsc">
                                                <p id="objavebanner" style="width:100%;text-align:center;display:none;border-bottom:1px solid #88402C;">OBJAVE</p>
                                                <ul id="suggObjave"></ul>
                                                <p id="seminaribanner" style="width:100%;text-align:center;display:none;border-bottom:1px solid #88402C;">SEMINARI I RADIONICE</p>
                                                <ul id="suggSeminari"></ul>
                                                <p id="edukacijebanner" style="width:100%;text-align:center;display:none;border-bottom:1px solid #88402C;">ON-LINE EDUKACIJE</p>
                                                <ul id="suggEdukacije"></ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mega-menu-item {{ 'active' if '/seminari-i-radionice' in page.url }}">
                                        <a href="#" class="mega-menu-link">Seminari</a>
                                        <ul class="mega-submenu">
                                            <li><a href="/edukacije/seminari-i-radionice/datumi-odrzavanja/">Datumi održavanja</a></li>
                                            <li><a href="/edukacije/seminari-i-radionice/otvoreni-seminari-i-radionice/">Popis svih seminara</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item {{ 'active' if '/online-edukacije' in page.url }}">
                                        <a href="/edukacije/online-edukacije" class="nav-link">On-line edukacije</a>
                                    </li>
                                    <li class="nav-item {{ 'active' if '/zbirke-dokumenata' in page.url }}">
                                        <a href="/edukacije/online-edukacije/zbirke-dokumenata" class="nav-link">Zbirke dokumenata</a>
                                    </li>
                                    <!--
                                    <li class="nav-item {{ 'active' if '/online-edukacije' in page.url }}">
                                        <a href="/edukacije/online-edukacije" class="nav-link">On-Line Edukacije</a>
                                    </li>
                                    -->
                                    <!--
                                    <li class="nav-item {{ 'active' if 'akademije' in page.url }}">
                                        <a href="/edukacije/akademije" class="nav-link">Akademije</a>
                                    </li>
                                    <li class="mega-menu-item {{ 'active' if 'akademije/' in page.url }}">
                                        <a href="#" class="mega-menu-link">Akademije</a>
                                        <ul class="mega-submenu">
                                            <li><a href="/edukacije/akademije">Akademije</a></li>
                                            <li><a href="/edukacije/online-akademije">On-line akademije</a></li>
                                        </ul>
                                    </li>
                                    -->
                                    <!--
                                    <li class="nav-item {{ 'active' if 'akademije/' in page.url }}">
                                        <a href="/edukacije/akademije" class="nav-link">Akademije</a>
                                    </li>
                                    -->
                                    <li class="nav-item {{ 'active' if '/in-house' in page.url }}">
                                        <a href="/edukacije/in-house" class="nav-link">In-house</a>
                                    </li>
                                    <li class="nav-item {{ 'active' if '/blog' in page.url }} lms-link">
                                        <a href="/blog" class="nav-link">Blog</a>
                                    </li>
                                    <li class="nav-item {{ 'active' if '/kontakt' in page.url }} lms-link">
                                        <a href="/kontakt" class="nav-link">Kontakt</a>
                                    </li>
                                    <li class="nav-item lms-link">
                                        <a href="https://lms.edukacije.hr" target="_blank" rel="noopener">LMS Login</a>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- site-navigation end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- site-header-menu end-->
</header><!--header end-->