<!--header start-->
<header id="masthead" class="header ttm-header-style-01">
    <!-- fbar-main -->
    <div class="fbar-main">
        <div class="fbar-main-inner">
            <div class="fbar-btn"><a href="#"><i class="ti ti-menu"></i></a></div>
            <!-- fbar-contents -->
            <div class="fbar-contents">
                <div class="container">
                    <div id="floatingbar-widgets" class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 widget-area">
                            <aside class="widget widget_text enhanced-text-widget">
                                <h3 class="widget-title mb-15">We Are The Best Uniaro Education In The <strong class="ttm-textcolor-skincolor">Gloabal World</strong></h3>
                                <p>Uniaro University was established by J.H Merthon in 1920 for the public benefit. After wards, it is recognized globally. Throughout our great history.</p>
                                <div class="d-flex align-items-center pt-10">
                                    <ul class="ttm-list ttm-list-style-icon ttm-textcolor-darkgrey pr-20">
                                        <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">New Online Courses</span></li>
                                        <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">Trending Courses</span></li>
                                        <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">Career Security</span></li>
                                    </ul>
                                    <ul class="ttm-list ttm-list-style-icon ttm-textcolor-darkgrey pr-20">
                                        <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">Certified Teachers</span></li>
                                        <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">Experienced Faculty</span></li>
                                        <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">Certification</span></li>
                                    </ul>
                                </div><br>
                                <div class="ttm-highlight-div ttm-bgcolor-skincolor">
                                    <h5><i class="fa fa-phone"></i> Call Us Now:+123-456-78790</h5>
                                </div>
                            </aside>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 widget-area">
                            <div class="widget widget_timing clearfix">
                                <h3 class="widget-title">Opening Hours</h3>
                                <div class="ttm-timelist-block-wrapper">
                                    <ul class="ttm-timelist-block ttm-textcolor-darkgrey pr-15">
                                        <li>Monday<span class="service-time">09am - 05pm</span></li>
                                        <li>Tuesday<span class="service-time">09am - 05pm</span></li>
                                        <li>Wednesday<span class="service-time">09am - 05pm</span></li>
                                        <li>Thrusday<span class="service-time">09am - 05pm</span></li>
                                        <li>Friday<span class="service-time">09am - 05pm</span></li>
                                        <li>Saturday-Sunday<span class="service-time">Closed</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 widget-area">
                            <aside class="widget widget_text enhanced-text-widget">
                                <h3 class="widget-title"> Want to talk? Let`s do it!</h3>
                                <div role="form" class="wpcf7" id="wpcf7-f3264-o2" lang="en-US" dir="ltr">
                                    <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                                        <div class="ttm-commonform ttm-floatingbar-form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <i class="ti-user"></i>
                                                        <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Your Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <i class="ti-email"></i>
                                                        <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email" aria-required="true" aria-invalid="false" placeholder="Your Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <i class="ti-mobile"></i>
                                                        <input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Your Phone">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <i class="ti-pencil"></i>
                                                        <input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Subject">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <i class="ti-comments"></i>
                                                        <textarea name="your-message" cols="40" rows="2" class="wpcf7-form-control wpcf7-textarea" aria-required="true" aria-invalid="false" placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="submit ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-dark mt-20" type="submit">Send A Request</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div><!-- fbar-contents end -->
        </div>
    </div><!-- fbar-main end -->
    <!-- top_bar -->
    <div class="top_bar ttm-bgcolor-darkgrey ttm-textcolor-white clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 d-flex flex-row align-items-center">
                    <div class="top_bar_contact_item">
                        <div class="top_bar_icon"><i class="fa fa-envelope-o"></i></div><a href="mailto:info@edukacije.hr">info@edukacije.hr</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <div class="top_bar_icon"><i class="fa fa-phone"></i></div>+385 1 557-9093
                    </div>
                    <div class="top_bar_contact_item ml-auto">
                        <a href="#">O nama</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <a href="#">Uvjeti korištenja</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <a href="#">Zaštita privatnosti</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <div class="top_bar_social">
                            <ul class="social-icons">
                                <li><a class="tooltip-bottom" target="_blank" href="" data-tooltip="Facebook" tabindex="-1"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="" data-tooltip="Twitter" tabindex="-1"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="" data-tooltip="Flickr" tabindex="-1"><i class="fa fa-flickr"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="" data-tooltip="Linkedin" tabindex="-1"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor" href="#">Login</a>
                </div>
            </div>
        </div>
    </div><!-- top_bar end-->
    <!-- site-header-menu -->
    <div id="site-header-menu" class="site-header-menu ttm-bgcolor-white">
        <div class="site-header-menu-inner ttm-stickable-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!--site-navigation -->
                        <div class="site-navigation d-flex flex-row">
                            <!-- site-branding -->
                            <div class="site-branding mr-auto">
                                <a class="home-link" href="index.html" title="Uniaro" rel="home">
                                    <img id="logo-img" class="img-center lazyload" data-src="images/logo-img.png" alt="logo-img">
                                </a>
                            </div><!-- site-branding end -->
                            <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                <span class="menubar-box">
                                    <span class="menubar-inner"></span>
                                </span>
                            </div>
                            <!-- menu -->
                            <nav class="main-menu menu-mobile" id="menu">
                                <ul class="menu">
                                    <li class="mega-menu-item active">
                                        <a href="#" class="mega-menu-link">Početna</a>
                                    </li>
                                    <li class="mega-menu-item">
                                        <a href="#" class="mega-menu-link">Proizvodi i usluge</a>
                                        <ul class="mega-submenu">
                                            <li class="active"><a href="index.html">Home School</a></li>
                                            <li><a href="home-2.html">Home University</a></li>
                                            <li><a href="home-3.html">Home Institute</a></li>
                                            <li><a href="home-4.html">Home College</a></li>
                                            <li><a href="home-shop.html">Home Shop</a></li>
                                            <li class="mega-menu-item">
                                                <a href="#" class="mega-menu-link">Header Styles</a>
                                                <ul class="mega-submenu">
                                                    <li><a href="index.html">Header Style 01</a></li>
                                                    <li><a target="_blank" href="header-style-02.html">Header Style 02</a></li>
                                                    <li><a target="_blank" href="header-style-03.html">Header Style 03</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-item">
                                        <a href="#" class="mega-menu-link">In-house seminari</a>
                                        <ul class="mega-submenu">
                                            <li><a href="courses.html">Courses</a></li>
                                            <li><a href="courses-single.html">Course Single View</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-item">
                                        <a href="#" class="mega-menu-link">Blog</a>
                                        <ul class="mega-submenu">
                                            <li><a href="blog.html">Blog Classic</a></li>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="blog-single.html">Blog Single View</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-item">
                                        <a href="#" class="mega-menu-link">Kontakti</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header_extra d-flex flex-row align-items-center justify-content-end">
                                <div class="header_search">
                                    <a href="#" class="btn-default search_btn"><i class="ti ti-search"></i></a>
                                    <div class="header_search_content">
                                        <form id="searchbox" method="get" action="#">
                                            <input class="search_query" type="text" id="search_query_top" name="s" placeholder="Enter Keyword" value="">
                                            <button type="submit" class="btn close-search"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="header_cart">
                                    <a href="#" class="button-cart">
                                        <div class="cart_icon"><i class="fa fa-shopping-cart"></i></div>
                                        <div class="cart_count">0</div>
                                    </a>
                                </div>
                            </div>
                        </div><!-- site-navigation end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- site-header-menu end-->
</header><!--header end-->