<!--header start-->
<header id="masthead" class="header ttm-header-style-01">
    <!-- top_bar -->
    <div class="top_bar ttm-bgcolor-darkgrey ttm-textcolor-white clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 d-flex flex-row align-items-center">
                    <div class="top_bar_contact_item">
                        <div class="top_bar_icon"><i class="fa fa-envelope-o"></i></div><a href="mailto:info@edukacije.hr">info@edukacije.hr</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <div class="top_bar_icon"><i class="fa fa-phone"></i></div>+385 1 557-9093
                    </div>
                    <div class="top_bar_contact_item ml-auto">
                        <a href="/" style="{% if navID == 'pocetna' %}color:#F77F00;{% endif %}">Početna</a>
                    </div>
                     <div class="top_bar_contact_item">
                        <a href="/o-nama" style="{% if navID == 'o-nama' %}color:#F77F00;{% endif %}">O nama</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <a href="/uvjeti-koristenja" style="{% if navID == 'uvjeti-koristenja' %}color:#F77F00;{% endif %}">Uvjeti korištenja</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <a href="/zastita-privatnosti" style="{% if navID == 'zastita-privatnosti' %}color:#F77F00;{% endif %}">Zaštita privatnosti</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <div class="top_bar_social">
                            <ul class="social-icons">
                                <li><a class="tooltip-bottom" target="_blank" href="https://www.facebook.com/EdukacijEhr-390679021469000"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="https://www.linkedin.com/company/18852729/"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="https://www.instagram.com/edukacije.hr/"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="https://www.youtube.com/channel/UCsXJK-egclFM3GFQrPIQdLQ?view_as=subscriber"><i class="fa fa-youtube"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="/feed.xml"><i class="fa fa-rss"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor" href="https://lms.edukacije.hr">LMS Login</a>
                </div>
            </div>
        </div>
    </div><!-- top_bar end-->
    <!-- site-header-menu -->
    <div id="site-header-menu" class="site-header-menu ttm-bgcolor-white">
        <div class="site-header-menu-inner ttm-stickable-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!--site-navigation -->
                        <div class="site-navigation d-flex flex-row">
                            <!-- site-branding -->
                            <div class="site-branding mr-auto">
                                <a class="home-link" href="/" title="Uniaro" rel="home">
                                    <img id="logo-img" class="img-center lazyload" data-src="/images/logo-img.png" alt="logo-img">
                                </a>
                            </div><!-- site-branding end -->
                            <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                <span class="menubar-box">
                                    <span class="menubar-inner"></span>
                                </span>
                            </div>
                            <!-- menu -->
                            <nav class="main-menu menu-mobile" id="menu">
                                <ul class="menu">
                                    <li class="mega-menu-item {{ 'active' if '/seminari-i-radionice' in page.url }}">
                                        <a href="/edukacije/seminari-i-radionice/datumi-odrzavanja" class="mega-menu-link">Seminari</a>
                                    </li>
                                    <!--<li class="mega-menu-item menuchevron
                                        {% if
                                            (navID == 'seminari') or
                                            (navID == 'e-zbirke') or
                                            (navID == 'videoteka') or
                                            (navID == 'paketi') %}
                                            active
                                        {% endif %}">
                                        <a href="#" class="mega-menu-link">Edukacije</a>
                                        <ul class="mega-submenu">
                                            <li class="{% if navID == 'seminari' %} active {% endif %}"><a href="/seminari-i-radionice">Seminari i radionice</a></li>
                                            <li class="{% if navID == 'e-zbirke' %} active {% endif %}"><a href="/e-zbirke">E-Zbirke</a></li>
                                            <li class="{% if navID == 'videoteka' %} active {% endif %}"><a href="/videoteka">Videoteka</a></li>
                                            <li class="{% if navID == 'paketi' %} active {% endif %}"><a href="/paketi-proizvoda">Paketi proizvoda</a></li>
                                        </ul>
                                    </li>-->
                                    <li class="mega-menu-item {{ 'active' if '/online-edukacije' in page.url }}">
                                        <a href="/edukacije/online-edukacije" class="mega-menu-link">On-Line Edukacije</a>
                                    </li>
                                    <li class="mega-menu-item {% if navID == 'in-house' %}active{% endif %}">
                                        <a href="/edukacije/in-house" class="mega-menu-link">In-house edukacije</a>
                                    </li>
                                    <li class="mega-menu-item {{ 'active' if '/blog' in page.url }}">
                                        <a href="/blog" class="mega-menu-link">Blog</a>
                                    </li>
                                    <li class="mega-menu-item {% if navID == 'kontakt' %}active{% endif %}">
                                        <a href="/kontakt" class="mega-menu-link">Kontakt</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header_extra d-flex flex-row align-items-center justify-content-end">
                                <div class="header_search">
                                    <a href="#" class="btn-default search_btn"><i class="ti ti-search"></i></a>
                                    <div class="header_search_content">
                                        <form id="searchbox" method="get" action="#">
                                            <input class="search_query" type="text" id="search_query_top" name="s" placeholder="Enter Keyword" value="">
                                            <button type="submit" class="btn close-search"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="header_cart">
                                    <a href="#" class="button-cart snipcart-checkout" id="cartlink"">
                                        <div class="cart_icon"><i class="fa fa-shopping-cart"></i></div>
                                        <div class="cart_count snipcart-items-count" id="cartcount">0</div>
                                    </a>
                                </div>
                            </div>
                        </div><!-- site-navigation end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- site-header-menu end-->
</header><!--header end-->