<!--broken-section-->
<section class="ttm-row broken-section bg-layer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ttm-bg ttm-col-bgcolor-yes ttm-left-span ttm-bgcolor-skincolor spacing-1">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                    <div class="layer-content">
                        <!-- section title -->
                        <div class="section-title">
                            <div class="title-header">
                                <h5>WHY Uniaro</h5>
                                <h2 class="title">What Our<br>Happy Student Say</h2>
                            </div>
                            <div class="heading-seperator"><span></span></div>
                        </div><!-- section title end -->
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It hasclassical Latin literature from Contrary</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mt-60 res-991-mt-0">
                    <div class="ttm-col-bgcolor-yes col-bg-img-six ttm-bgcolor-darkgrey ttm-col-bgimage-yes ttm-bg ttm-right-span spacing-2">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                            <div class="ttm-col-wrapper-bg-layer-inner"></div>
                        </div>
                        <div class="layer-content">
                            <div class="mt_50">
                                <!-- slick_slider -->
                                <div class="row slick_slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows":false, "autoplay":true, "centerMode":true, "centerPadding":0, "infinite":true, "initialSlide":2, "responsive": [{"breakpoint":870,"settings":{"slidesToShow": 1}} , {"breakpoint":525,"settings":{"slidesToShow": 1}}]}'>
                                    <div class="ttm-box-col-wrapper col-lg-12">
                                        <!-- testimonials -->
                                        <div class="testimonials ttm-testimonial-box-view-style1"> 
                                            <div class="testimonial-content">
                                                <div class="testimonial-avatar">
                                                    <div class="testimonial-img">
                                                        <img class="img-center lazyload" data-src="images/ilkobender.jpg" alt="testimonial-img">
                                                    </div>
                                                </div>
                                                <blockquote>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, soforby blinded by desire, that they cannot foresee the pain and trouble.<br />It has roots in a piece of lassical.</blockquote>
                                                <div class="testimonial-caption">
                                                    <h5>Albie Jackson</h5>
                                                    <label>CEO at Themetechmount</label>
                                                </div>
                                            </div>
                                        </div><!-- testimonials end -->
                                    </div>
                                    <div class="ttm-box-col-wrapper col-lg-12">
                                        <!-- testimonials -->
                                        <div class="testimonials ttm-testimonial-box-view-style1"> 
                                            <div class="testimonial-content">
                                                <div class="testimonial-avatar">
                                                    <div class="testimonial-img">
                                                        <img class="img-center lazyload" data-src="https://via.placeholder.com/80x80?text=80x80+testimonial-02.jpg" alt="testimonial-img">
                                                    </div>
                                                </div>
                                                <blockquote>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, soforby blinded by desire, that they cannot foresee the pain and trouble.<br />It has roots in a piece of lassical.</blockquote>
                                                <div class="testimonial-caption">
                                                    <h5>Sally Mathison</h5>
                                                    <label>Student at Uniaro</label>
                                                </div>
                                            </div>
                                        </div><!-- testimonials end -->
                                    </div>
                                    <div class="ttm-box-col-wrapper col-lg-12">
                                        <!-- testimonials -->
                                        <div class="testimonials ttm-testimonial-box-view-style1"> 
                                            <div class="testimonial-content">
                                                <div class="testimonial-avatar">
                                                    <div class="testimonial-img">
                                                        <img class="img-center lazyload" data-src="https://via.placeholder.com/80x80?text=80x80+testimonial-03.jpg" alt="testimonial-img">
                                                    </div>
                                                </div>
                                                <blockquote>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, soforby blinded by desire, that they cannot foresee the pain and trouble.<br />It has roots in a piece of lassical.</blockquote>
                                                <div class="testimonial-caption">
                                                    <h5>Braylin Rose</h5>
                                                    <label>CEO At Founder</label>
                                                </div>
                                            </div>
                                        </div><!-- testimonials end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--broken-section end-->