<div class="banner-slider-wrapper">
    <div class="banner-slider slick_slider slick-arrows-style1" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows":true, "autoplay":true, "centerMode":true, "centerPadding":0, "infinite":true, "initialSlide":2, "responsive": [{"breakpoint":870,"settings":{"slidesToShow": 1}} , {"breakpoint":525,"settings":{"slidesToShow": 1}}]}'>
        <!-- banner-slide -->
        <div class="banner-slide">
            <img class="img-fluid lazyload" data-src="/images/bannerslide-1.jpg" alt="slider-image"/>
            <div class="banner-caption">
                <div class="info">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="banner-text ttm-textcolor-white">
                                    <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-white ttm-icon_element-size-md mb-10 animated fadeIn delay-1s">
                                        <i class="flaticon-school-3"></i>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="left slideInLeft animated slower">
                                            <h5>Alumni</h5>
                                            <h5>Association</h5>
                                        </div>
                                        <div class="right slideInRight animated border-left pl-15 ml-15">
                                            <h6>OUR<br>NATIONAL<br>UNIVERSITY </h6>
                                        </div>
                                    </div>
                                    <div class="mt-15 mb-30">
                                        <h2 class="slideInLeft animated slower">Working Diligently </h2>
                                        <h2 class="slideInLeft animated slower delay-1s">for the Benifit of </h2>
                                        <h2 class="slideInLeft animated slower delay-2s">all Alumni. </h2>
                                    </div>
                                    <div class="fadeInUp animated delay-4s">
                                        <a href="#" class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-white">Join Us Now!</a>
                                    </div>
                                </div>
                                <div class="d-flex fadeIn animated slower delay-3s">
                                    <div class="featured-icon-box icon-align-before-content mt_30 ml-auto">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-style-square ttm-icon_element-color-skincolor ttm-icon_element-size-sm">
                                                <i class="flaticon-university-1"></i>
                                            </div>
                                        </div>
                                        <div class="featured-content ">
                                            <div class="featured-title">
                                                <h5>2323</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>Students</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-slide">
            <img class="img-fluid lazyload" data-src="/images/bannerslide-2.jpg" alt="slider-image"/>
            <div class="banner-caption">
                <div class="info">
                    <div class="container">
                        <div class="d-lg-flex justify-content-end">
                            <div class="mt-40 res-991-mt-0">
                                <div class="banner-text right-content ttm-textcolor-white">
                                    <div class="ttm-textcolor-skincolor slideInLeft animated"><h6>YOU CAN LEARN ANYTHING</h6></div>
                                    <div class="mt-5 mb-10">
                                        <h2 class="slideInLeft animated">Best way to fund </h2>
                                        <h2 class="slideInLeft animated delay-1s">Your <span class="ttm-textcolor-skincolor">Study</span> Abroad </h2>
                                    </div>
                                    <p class="slideInLeft animated delay-2s">Create your free account now and get immediate access<br> to 100s of online courses. </p>
                                </div>
                                <div class="fadeInUp animated delay-3s mt-15">
                                    <a href="#" class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-white mr-3">Learn more</a>
                                    <span class="ttm-bgcolor-darkgrey">
                                        <a href="#" class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor">Get it now</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex fadeIn animated slower delay-3s">
                            <div class="featured-icon-box icon-align-before-content mt-40 mr-auto">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-style-square ttm-icon_element-color-skincolor ttm-icon_element-size-sm">
                                        <i class="fa fa-play pl-5"></i>
                                    </div>
                                </div>
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h5>1987</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>Since</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>