<!--features-section-->
<section class="ttm-row features-section ttm-bgcolor-grey clearfix">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="mt_60 res-991-mt-15 ttm-bgcolor-white box-shadow">
                    <div class="row no-gutters ttm-vertical_sep">
                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-icon-box icon-align-top-content text-center style1">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon-education"></i>
                                    </div>
                                </div>
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h5>Seminari i radionice</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>Više od 5000 zadovoljnih kupaca. Postanite i vi te unaprijedite vaše poslovanje.</p>
                                    </div>
                                    <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor" href="/edukacije/seminari-i-radionice/datumi-odrzavanja/" title="">Saznajte više<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>
                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-icon-box icon-align-top-content text-center style1">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon-student-2"></i>
                                    </div>
                                </div>
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h5>On-line edukacije</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>S bilo kojeg mjesta u bilo koje vrijeme do vaše on-line edukacije. Dostupne su odmah i uvijek!</p>
                                    </div>
                                    <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor" href="/edukacije/online-edukacije/" title="">Saznajte više<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>
                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-icon-box icon-align-top-content text-center style1">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon-work"></i>
                                    </div>
                                </div>
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h5>In-house seminari</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>Stručne edukacije prilagođene vašim potrebama, samo za vašu tvrtku ili instituciju.</p>
                                    </div>
                                    <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor" href="/edukacije/in-house/" title="">Saznajte više<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>
<!--features-section end-->