<!--events-section-->
<section class="ttm-row blog2-section ttm-bgcolor-grey clearfix">
    <div class="container">
        <section class="ttm-row event-section ttm-bgcolor-grey mt_60 res-991-mt-0 clearfix" style="padding: 50px 0 50px;!important">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- section title -->
                        <div class="section-title title-style-center_text">
                            <div class="title-header">
                                <h5>ODABERITE DATUM KOJI VAM ODGOVARA</h5>
                                <h1 class="title">Nadolazeće edukacije uživo</h1>
                            </div>
                            <div class="heading-seperator"><span></span></div>
                        </div><!-- section title end -->
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!--event-section-->
        <!--event-section-->
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <h3 style="text-align: center;">Seminari i radionice</h3>
                </div>
                <div class="overflow-lista">
                    {% for seminar in seminari.svedatumi %}
                    <!-- featured-imagebox-post -->
                    <div class="featured-imagebox featured-imagebox-post style1" style="width:96%!important">
                        <div class="featured-content featured-content-post" style="padding: 10px;!important">
                            <div class="row">
                                <div class="col-sm-2" style="max-width: 15%;!important">
                                    <div class="icon-box">
                                        <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-darkgrey ttm-icon_element-size-sm ttm-icon_element-style-rounded" style="background-color:#8FBC94;margin-bottom: 0px;!important">
                                            <div class="ttm-box-event-date">
                                                <span class="ttm-entry-date">
                                                    <time class="entry-date" datetime="2019-07-20T07:07:55+00:00" style="margin-top:10px;">{{ seminar.datumseminara | datumDan }}<span class="entry-month">{{ seminar.datumseminara | datumMjesec }}</span></time>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="post-meta">
                                        <span class="ttm-meta-line"><i class="fa fa-clock-o"></i>{{ seminar.vrijeme }}</span>
                                        <span class="ttm-meta-line"><i class="fa fa-map-marker"></i>{{ seminar.lokacijanaziv }}, {% if seminar.dvorana %}Dvorana {{ seminar.dvorana }},{% endif %} {{ seminar.lokacijaadresa }}, {{ seminar.lokacijagrad }}</span>
                                    </div>
                                    <div class="post-title featured-title">
                                        <h6><a href="/edukacije/seminari-i-radionice/{{ seminar.kategorijaslug }}/{{ seminar.seminarnazivslug }}/">{{ seminar.seminarnaziv }}</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- featured-imagebox-post end-->
                    {% endfor %}
                </div>
                <!--<a href="/edukacije/seminari-i-radionice/datumi-odrzavanja/" style="margin: 30px auto;text-align:center;align-self:center;display:block;max-width:50%" class="lp-button button button-purchase-course ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-dark">Provjerite sve seminare</a>-->
            </div>
            <div class="col-lg-6">
                <div>
                    <h3 style="text-align: center;">Zoom webinari</h3>
                </div>
                <div class="overflow-lista">
                    {% for zoom in zoomwebinari %}
                    <!-- featured-imagebox-post -->
                    <div class="featured-imagebox featured-imagebox-post style1" style="width:96%!important">
                        <div class="featured-content featured-content-post" style="padding: 10px;!important">
                            <div class="row">
                                <div class="col-sm-2" style="max-width: 15%;!important">
                                    <div class="icon-box">
                                        <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-darkgrey ttm-icon_element-size-sm ttm-icon_element-style-rounded" style="background-color:#8FBC94;margin-bottom: 0px;!important">
                                            <div class="ttm-box-event-date">
                                                <span class="ttm-entry-date">
                                                    <time class="entry-date" datetime="2019-07-20T07:07:55+00:00" style="margin-top:10px;">{{ zoom.zoomDatumIVrijemePocetka | datumDan }}<span class="entry-month">{{ zoom.zoomDatumIVrijemePocetka | datumMjesec }}</span></time>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="post-meta">
                                        <span class="ttm-meta-line"><i class="fa fa-clock-o"></i>{{ zoom.zoomDatumIVrijemePocetka | datumSat }}h</span>
                                        <span class="ttm-meta-line"><i class="fa fa-hourglass-half"></i>{{ zoom.trajanje }}</span>
                                    </div>
                                    <div class="post-title featured-title">
                                        <h6><a href="/edukacije/online-edukacije/{{ zoom.categoryslug }}/{{ zoom.titleslug }}/">{{ zoom.title }}</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- featured-imagebox-post end-->
                    {% endfor %}
                </div>
                <!--<a href="/edukacije/seminari-i-radionice/datumi-odrzavanja/" style="margin: 30px auto;text-align:center;align-self:center;display:block;max-width:50%" class="lp-button button button-purchase-course ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-dark">Provjerite sve webinare</a>-->
            </div>
        </div>
    </div>
</section>
<!--events-section end-->