<!--blog-section-->
<section class="ttm-row blog-section bg-img2 ttm-bgcolor-grey ttm-bg ttm-bgimage-yes clearfix">
    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
    <div class="container">
            <!-- row -->
        <div class="row align-items-center">
            <div class="col-xl-10 col-lg-10 col-md-12">
                <!-- section-title -->
                <div class="section-title style2 clearfix">
                    <div class="title-header">
                        <h5>STRUČNI ČLANCI</h5>
                        <h2 class="title">Najnovije objave</h2>
                    </div>
                    <div class="title-desc">Stručnim člancima, naših i gostujućih autora, nudimo vam niz korisnih sadržaja i informacija.</div>
                </div><!-- section-title end -->
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12">
                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-dark mb-15 float-lg-right" href="/blog">Sve objave</a>
            </div>
        </div><!-- row end -->
        <!-- slick_slider -->
        <div class="row slick_slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "arrows":false, "autoplay":true, "infinite":true, "responsive": [{"breakpoint":870,"settings":{"slidesToShow": 2}}, {"breakpoint":540,"settings":{"slidesToShow": 1}}]}'>
            
            {% for objava in objave.sve | limit(3) %}
            
            <div class="ttm-box-col-wrapper col-lg-4">
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style1">
                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                        <img class="img-fluid lazyload" src="https://media.graphcms.com/resize=fit:clip,width:720,height:544/{{ objava.photo }}" alt="image">
                    </div>
                    <div class="featured-content featured-content-post" style="min-height:350px;!important">
                        <div class="ttm-box-post-date">
                            <span class="ttm-entry-date">
                                <time class="entry-date">{{ objava.date | datumObjave }}</time>
                            </span>
                        </div>
                        <div class="post-meta">
                            <span class="ttm-meta-line cat-link"><i class="fa fa-tag"></i>{{ objava.category }}</span>
                        </div>
                        <div class="post-title featured-title">
                            <h5><a href="/blog/{{ objava.categoryslug }}/{{ objava.titleslug }}">{{ objava.title }}</a></h5>
                        </div>
                        <div class="post-desc featured-desc">
                            <p>{{ objava.excerpt }}</p>
                        </div>
                    </div>
                </div><!-- featured-imagebox-post end-->
            </div>

            {% endfor %}

        </div>
    </div>
</section>
<!--blog-section end-->