<div class="banner-slider-wrapper">
    <div class="container" style="max-width:1920px;padding-right:0!important;padding-left:0!important;margin-right: auto;margin-left: auto;">
        <img class="img-fluid lazyload" data-src="https://media.graphcms.com/resize=fit:clip,width:1920/{{ naslovnica[0].naslovnica }}" alt="Najbolji način da unaprijedite vaše poslovanje"/>
    </div>
</div>