<!--events-section-->
<section class="ttm-row blog2-section ttm-bgcolor-grey clearfix">
    <div class="container">
        <section class="ttm-row event-section ttm-bgcolor-grey mt_60 res-991-mt-0 clearfix" style="padding: 50px 0 50px;!important">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- section title -->
                        <div class="section-title title-style-center_text">
                            <div class="title-header">
                                <h5>ODABERITE DATUM KOJI VAM ODGOVARA</h5>
                                <h2 class="title">Nadolazeće radionice i seminari</h2>
                            </div>
                            <div class="heading-seperator"><span></span></div>
                        </div><!-- section title end -->
                    </div>
                </div><!-- row end -->
                <!-- slick_slider -->
                <div class="slick_slider slick-arrows-style1" data-slick='{"slidesToShow": 1, "slidesToScroll": 3, "arrows":true, "dots":false, "autoplay":true, "centerMode":true, "centerPadding":"300px", "infinite":true, "responsive": [{"breakpoint":991,"settings":{"slidesToShow": 1, "centerPadding":"0px","centerMode":false }} ]}'>
                    <div class="ttm-box-col-wrapper col-lg-4">
                        <!-- featured-imagebox-event -->
                        <div class="featured-imagebox featured-imagebox-event">
                            <div class="ttm-event-thumbnail featured-thumbnail">
                                <img class="img-fluid lazyload" data-src="/images/featured-event-1-1200x800.jpg" alt="image">
                                <div class="ttm-box-event-date">
                                    <span class="ttm-entry-date">
                                        <time class="entry-date" datetime="2019-07-20T07:07:55+00:00">12<span class="entry-month">PRO</span></time>
                                    </span>
                                </div>
                            </div>
                            <div class="featured-content featured-content-event">
                                <div class="event-title featured-title">
                                    <h5><a href="course-single.html">Build Education Website Using WordPress</a></h5>
                                </div>
                                <div class="ttm-box-meta ttm-events-meta">
                                    <div class="ttm-meta-details ttm-event-meta-details">
                                        <div class="ttm-event-meta-item ttm-event-date"> 
                                            <i class="fa fa-clock-o"></i> 8:00 am - 5:00 pm
                                        </div>
                                        <div class="ttm-event-meta-item ttm-event-vanue"> 
                                            <i class="fa fa-map-marker"></i>Manhamman, New York
                                        </div>
                                    </div>
                                </div>
                                <div class="ttm-eventbox-footer">
                                     <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-fill ttm-btn-color-skincolor" href="#">View Details<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox-event end-->
                    </div>
                    <div class="ttm-box-col-wrapper col-lg-4">
                        <!-- featured-imagebox-event -->
                        <div class="featured-imagebox featured-imagebox-event">
                            <div class="ttm-post-thumbnail featured-thumbnail"> 
                                <img class="img-fluid lazyload" data-src="/images/featured-event-2-1200x800.jpg" alt="image"> 
                                <div class="ttm-box-event-date">
                                    <span class="ttm-entry-date">
                                        <time class="entry-date" datetime="2019-07-20T07:07:55+00:00">14<span class="entry-month">SIJ</span></time>
                                    </span>
                                </div>
                            </div>
                            <div class="featured-content featured-content-event">
                                <div class="event-title featured-title">
                                    <h5><a href="course-single.html">Certificate Course on International Tax</a></h5>
                                </div>
                                <div class="ttm-box-meta ttm-events-meta">
                                    <div class="ttm-meta-details ttm-event-meta-details">
                                        <div class="ttm-event-meta-item ttm-event-date"> 
                                            <i class="fa fa-clock-o"></i> 8:00 am - 5:00 pm
                                        </div>
                                        <div class="ttm-event-meta-item ttm-event-vanue"> 
                                            <i class="fa fa-map-marker"></i>Manhamman, New York
                                        </div>
                                    </div>
                                </div>
                                <div class="ttm-eventbox-footer">
                                     <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-fill ttm-btn-color-skincolor" href="#">View Details<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox-event end-->
                    </div>
                    <div class="ttm-box-col-wrapper col-lg-4">
                        <!-- featured-imagebox-event -->
                        <div class="featured-imagebox featured-imagebox-event">
                            <div class="ttm-event-thumbnail featured-thumbnail">
                                <img class="img-fluid lazyload" data-src="/images/featured-event-1-1200x800.jpg" alt="image">
                                <div class="ttm-box-event-date">
                                    <span class="ttm-entry-date">
                                        <time class="entry-date" datetime="2019-07-20T07:07:55+00:00">19<span class="entry-month">VELJ</span></time>
                                    </span>
                                </div>
                            </div>
                            <div class="featured-content featured-content-event">
                                <div class="event-title featured-title">
                                    <h5><a href="course-single.html">Build Education Website Using WordPress</a></h5>
                                </div>
                                <div class="ttm-box-meta ttm-events-meta">
                                    <div class="ttm-meta-details ttm-event-meta-details">
                                        <div class="ttm-event-meta-item ttm-event-date"> 
                                            <i class="fa fa-clock-o"></i> 8:00 am - 5:00 pm
                                        </div>
                                        <div class="ttm-event-meta-item ttm-event-vanue"> 
                                            <i class="fa fa-map-marker"></i>Manhamman, New York
                                        </div>
                                    </div>
                                </div>
                                <div class="ttm-eventbox-footer">
                                     <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-fill ttm-btn-color-skincolor" href="#">View Details<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox-event end-->
                    </div>
                </div>
                <!-- row -->
            </div>
        </section>
        <!--event-section-->
        <div class="row">
            <div class="col-lg-12">
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style1">
                    <div class="featured-content featured-content-post" style="padding: 20px 30px 20px 30px;!important">
                        <div class="row">
                            <div class="col-sm-2" style="max-width: 10.666667%;!important">
                                <div class="icon-box">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-darkgrey ttm-icon_element-size-sm ttm-icon_element-style-rounded" style="margin-bottom: 0px;!important">
                                        <p><strong>24 | SIJ</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="post-meta">
                                    <span class="ttm-meta-line"><i class="fa fa-clock-o"></i>12:00h - 15:00h</span>
                                    <span class="ttm-meta-line"><i class="fa fa-map-o"></i>Kraš d.d., Ravnice 48, 10000 Zagreb, Dvorana "Dijabetes"</span>
                                </div>
                                <div class="post-title featured-title">
                                    <h5><a href="blog-single.html">Key points For Improving Focus Towards you Ensures that you Know where</a></h5>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="ttm-btn-box" style="position: absolute;left:85px;width:100%">
                                    <h4>1.590Kn</h4>
                                </div>
                                <div class="ttm-btn-box" style="position: absolute;top: 50%;left:70px;">
                                    <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round ttm-btn-style-fill ttm-icon-btn-right ttm-btn-color-green" href="" title="">REZERVIRAJ </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- featured-imagebox-post end-->
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style1">
                    <div class="featured-content featured-content-post" style="padding: 20px 30px 20px 30px;!important">
                        <div class="row">
                            <div class="col-sm-2" style="max-width: 10.666667%;!important">
                                <div class="icon-box">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-darkgrey ttm-icon_element-size-sm ttm-icon_element-style-rounded" style="margin-bottom: 0px;!important">
                                        <p><strong>29 | SIJ</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="post-meta">
                                    <span class="ttm-meta-line"><i class="fa fa-clock-o"></i>09:00h - 13:00h</span>
                                    <span class="ttm-meta-line"><i class="fa fa-map-o"></i>Miramarska Cesta 24, 10000 Zagreb, Dvorana "Nad utovarom"</span>
                                </div>
                                <div class="post-title featured-title">
                                    <h5><a href="blog-single.html">Education Agree Plans To Boost Recruitment your Performance Help you</a></h5>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="ttm-btn-box" style="position: absolute;left:85px;width:100%">
                                    <h4>1.590Kn</h4>
                                </div>
                                <div class="ttm-btn-box" style="position: absolute;top: 50%;left:70px;">
                                    <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round ttm-btn-style-fill ttm-icon-btn-right ttm-btn-color-green" href="" title="">REZERVIRAJ </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- featured-imagebox-post end-->
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style1">
                    <div class="featured-content featured-content-post" style="padding: 20px 30px 20px 30px;!important">
                        <div class="row">
                            <div class="col-sm-2" style="max-width: 10.666667%;!important">
                                <div class="icon-box">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-darkgrey ttm-icon_element-size-sm ttm-icon_element-style-rounded" style="margin-bottom: 0px;!important">
                                        <p><strong>24 | SIJ</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="post-meta">
                                    <span class="ttm-meta-line"><i class="fa fa-clock-o"></i>18:00h - 12:00h</span>
                                    <span class="ttm-meta-line"><i class="fa fa-map-o"></i>Kraš d.d., Ravnice 48, 10000 Zagreb, Dvorana "Dijabetes"</span>
                                </div>
                                <div class="post-title featured-title">
                                    <h5><a href="blog-single.html">Equipping Researchers In The Developing Impact Rural Life by Bringing.</a></h5>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="ttm-btn-box" style="position: absolute;left:85px;width:100%">
                                    <h4>1.590Kn</h4>
                                </div>
                                <div class="ttm-btn-box" style="position: absolute;top: 50%;left:70px;">
                                    <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round ttm-btn-style-fill ttm-icon-btn-right ttm-btn-color-green" href="" title="">REZERVIRAJ </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- featured-imagebox-post end-->
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style1">
                    <div class="featured-content featured-content-post" style="padding: 20px 30px 20px 30px;!important">
                        <div class="row">
                            <div class="col-sm-2" style="max-width: 10.666667%;!important">
                                <div class="icon-box">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-darkgrey ttm-icon_element-size-sm ttm-icon_element-style-rounded" style="margin-bottom: 0px;!important">
                                        <p><strong>29 | SIJ</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="post-meta">
                                    <span class="ttm-meta-line"><i class="fa fa-clock-o"></i>09:00h - 13:00h</span>
                                    <span class="ttm-meta-line"><i class="fa fa-map-o"></i>Miramarska Cesta 24, 10000 Zagreb, Dvorana "Nad utovarom"</span>
                                </div>
                                <div class="post-title featured-title">
                                    <h5><a href="blog-single.html">Education Agree Plans To Boost Recruitment your Performance Help you</a></h5>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="ttm-btn-box" style="position: absolute;left:85px;width:100%">
                                    <h4>1.590Kn</h4>
                                </div>
                                <div class="ttm-btn-box" style="position: absolute;top: 50%;left:70px;">
                                    <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round ttm-btn-style-fill ttm-icon-btn-right ttm-btn-color-green" href="" title="">REZERVIRAJ </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- featured-imagebox-post end-->
            </div>
        </div>
    </div>
</section>
<!--events-section end-->