<!-- Javascript -->
{% if site.environment == "prod" %}
<script async src="/js/js.js"></script>
{% else %}
<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.js"></script>
<script src="/js/jquery-validate.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/numinate.min.js"></script>
<script src="/js/imagesloaded.min.js"></script>
<script src="/js/jquery-isotope.js"></script>
<script src="/js/lazysizes.min.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
{% endif %}
<script async src="/js/main.js"></script>
<script async type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?forceLang=hr&tracking=1&thirdparty=1&always=1&top=1&showNoConsent=1&showPolicyLink=1&privacyPage=%2Fzastita-privatnosti%2Findex.html"></script>
<!-- Javascript end -->