<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jquery.easing.js"></script>    
<script src="/js/jquery-waypoints.js"></script>    
<script src="/js/jquery-validate.js"></script> 
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/numinate.min.js"></script>
<script src="/js/imagesloaded.min.js"></script>
<script src="/js/jquery-isotope.js"></script>
<script src="/js/lazysizes.min.js"></script>
<script>
    
</script>
<script src="/js/main.js"></script>
<script src="/js/map.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<!-- Javascript end-->