<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jquery.easing.js"></script>    
<!--<script src="/js/jquery-waypoints.js"></script>-->
<script src="/js/jquery-validate.js"></script> 
<!--<script src="/js/jquery.prettyPhoto.js"></script>-->
<script src="/js/slick.min.js"></script>
<script src="/js/numinate.min.js"></script>
<script src="/js/imagesloaded.min.js"></script>
<script src="/js/jquery-isotope.js"></script>
<script src="/js/lazysizes.min.js"></script>
<script src="/js/bootstrap-input-spinner.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?tracking=1&thirdparty=1&always=1&top=1&showNoConsent=1&showPolicyLink=1&privacyPage=%2Fzastita-privatnosti%2Findex.html"></script>
<script>
    $("input[type='number']").inputSpinner();
</script>
<script src="/js/main.js"></script>
<div hidden id="snipcart" data-api-key="ZjhhN2Y3ZTYtNjM5NS00MDlhLWI4ZjYtOTVkMGVhYzM5NzAw">
    <billing section="top">
        <div class="root">
            <p style="color:red;">Sva polja su obavezna.</p><br/>
        </div>
    </billing>
    <address-fields>
        <div class="root">
            <div class="snipcart-form__row">
                <div class="snipcart-form__field snipcart-form__cell--large">
                    <snipcart-label class="snipcart__font--tiny" for="Organizacija">
                        Organizacija
                    </snipcart-label>
                    <snipcart-input name="Organizacija" placeholder="Za fizičke osobe unijeti 'n/p'" required>
                    </snipcart-input>
                </div>
                <div class="snipcart-form__field snipcart-form__cell--large">
                    <snipcart-label class="snipcart__font--tiny" for="OIB">
                        OIB
                    </snipcart-label>
                    <snipcart-input name="OIB" placeholder="Za fizičke osobe unijeti 'n/p'" required>
                    </snipcart-input>
                </div>
            </div>
            <div class="snipcart-form__field snipcart-form__cell--large">
                <snipcart-label class="snipcart__font--tiny" for="address1">
                    Ulica i kućni broj
                </snipcart-label>
                <snipcart-input name="address1" required></snipcart-input>
                <snipcart-error-message name="address1"></snipcart-error-message>
            </div>
            <div class="snipcart-form__row">
                <div class="snipcart-form__field snipcart-form__cell--large">
                    <snipcart-label class="snipcart__font--tiny" for="city">Grad
                    </snipcart-label>
                    <snipcart-input name="city" required></snipcart-input>
                    <snipcart-error-message name="city"></snipcart-error-message>
                </div>
                <div class="snipcart-form__field snipcart-form__cell--tidy">
                    <snipcart-label class="snipcart__font--tiny" for="postalCode">
                        Poštanski broj
                    </snipcart-label>
                    <snipcart-input name="postalCode" required></snipcart-input>
                    <snipcart-error-message name="postalCode"></snipcart-error-message>
                </div>
            </div>
                <div class="snipcart-form__field snipcart-form__cell--large">
                <snipcart-label class="snipcart__font--tiny" for="province">
                    Županija
                </snipcart-label>
                <snipcart-input name="province" required></snipcart-input>
                <snipcart-error-message name="province"></snipcart-error-message>
            </div>

            <div class="snipcart-form__field snipcart-form__cell--large">
                <div class="snipcart-form__field">
                    <snipcart-label class="snipcart__font--tiny" for="country">Država
                    </snipcart-label>
                    <snipcart-typeahead type="dropdown" name="country" autocomplete="country" required></snipcart-typeahead>
                </div>
            </div>
        </div>
    </address-fields>
</div>
<script async src="https://cdn.snipcart.com/themes/v3.0.30/default/snipcart.js"></script>
<script type="text/javascript">
    document.addEventListener('snipcart.ready', () => {
        Snipcart.events.on('item.adding', (item) => {

            var quantity = item.quantity;
            item.quantity = 1;

            var products = new Array(quantity).fill({
                id: item.id,
                name: item.name,
                price: item.price,
                url: item.url,
                customFields: item.customFields,
                stackable: "never",
                shippable: item.shippable,
                quantity: 1
            });

            /*products.forEach(async product =>  {
                try {
                    await Snipcart.api.cart.items.add({
                        id: product.id,
                        name: product.name,
                        price: product.price,
                        url: product.url,
                        quantity: 1,
                        customFields: product.customFields,
                        stackable: "never"
                    });
                } catch (error) {
                    console.log(error);
                }
            });*/
        });
    });

    $(function() {
        var btn = $('#buy-button');
        $('#qnt').change(function() {
            var newqnt = $("#qnt").val();
            btn.attr('data-item-quantity', newqnt);
        });
    });

    function bcTimestamp() {
        var ts = Date.now();
        var btn = $('#buy-button');
        btn.attr('data-item-custom6-value', ts);
    }
</script>

<!-- Javascript end-->