<!-- sidebar -->
<div class="ttm-row sidebar ttm-sidebar-right ttm-bgcolor-white clearfix">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-xl-9 col-lg-8 content-area">

            {% if seminari != 'prazno' %}

                {% for item in pagination.items %}

                <div class="featured-imagebox featured-imagebox-post style1">
                    <div class="featured-content featured-content-post" style="padding: 20px 30px 20px 30px;!important">
                        <div class="row">
                            <div class="col-sm-2" style="max-width: 10.666667%;!important">
                                <div class="icon-box">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-darkgrey ttm-icon_element-size-sm ttm-icon_element-style-rounded" style="background-color:#8FBC94;margin-bottom: 0px;!important">
                                        <div class="ttm-box-event-date">
                                            <span class="ttm-entry-date">
                                                <time class="entry-date" datetime="2019-07-20T07:07:55+00:00" style="margin-top:10px;">{{ item.datumseminara | datumDan }}<span class="entry-month">{{ item.datumseminara | datumMjesec }}</span></time>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="post-meta" style="border-bottom: solid 1px;">
                                    <span class="ttm-meta-line"><i class="fa fa-clock-o"></i>12:00h - 15:00h</span>
                                    <span class="ttm-meta-line"><i class="fa fa-map-marker"></i>{{ item.lokacijanaziv }}, {% if item.dvorana %}Dvorana {{ item.dvorana }},{% endif %} {{ item.lokacijaadresa }}, {{ item.lokacijagrad }}</span>
                                </div>
                                <div class="post-title featured-title" style="margin-top: 10px;">
                                    <h6><a href="/edukacije/seminari-i-radionice/{{ item.kategorijaslug }}/{{ item.seminarnazivslug }}">{{ item.seminarnaziv }}</a></h6>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="ttm-btn-box" style="position: absolute;left:55px;width:100%">
                                    <h6>{{ item.seminarcijena }}</h6>
                                </div>
                                <div class="ttm-btn-box" style="position: absolute;top: 50%;left:70px;">
                                    <a class="ttm-btn ttm-btn-size-xs ttm-btn-shape-square ttm-btn-style-fill ttm-icon-btn-right ttm-btn-color-dark" href="" title="">REZERVIRAJ </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- featured-imagebox-post end-->

                {% endfor %}

                {% include "partials/pagination-block.njk" %}

            </div>

                {% else %}

                    <!-- post -->
                    <article class="post ttm-blog-classic clearfix">
                        <!-- ttm-blog-classic-content -->
                        <div class="ttm-blog-classic-content">
                            <div class="ttm-post-entry-header">
                                <header class="entry-header">
                                    <h2 class="entry-title">Trenutno nemamo dostupnih datuma seminara u ovoj kategoriji.</h2>
                                </header>
                            </div>
                        </div><!-- ttm-blog-classic-content end -->
                    </article><!-- post end -->
            </div>

            {% endif %}
            
            {% include "partials/seminaricategories.njk" %}

        </div><!-- row end -->
    </div>
</div>
<!-- sidebar end -->