<div class="col-xl-3 col-lg-4 widget-area sidebar-right ttm-col-bgcolor-yes ttm-bg ttm-right-span ttm-bgcolor-grey mt_60 pt-60 mb_60 pb-60 res-991-mt-0 res-991-pt-0">
    <!--
    {% if nav2ID === "popis" %}
    <aside class="widget widget-Categories with-title">
        <div class="ttm-btn-box pb-20">
            <a class="ttm-btn ttm-btn-size-lg ttm-btn-shape-square ttm-btn-style-fill ttm-icon-btn-right ttm-btn-color-dark" href="/edukacije/seminari-i-radionice/datumi-odrzavanja/"><i class="fa fa-calendar" aria-hidden="true" style="margin-right:10px;"></i>DATUMI ODRŽAVANJA</a>
        </div>
    </aside>
    {% endif %}

    {% if nav2ID === "datumi" %}
    <aside class="widget widget-Categories with-title">
        <div class="ttm-btn-box pb-20">
            <a class="ttm-btn ttm-btn-size-lg ttm-btn-shape-square ttm-btn-style-fill ttm-icon-btn-right ttm-btn-color-dark" href="/edukacije/seminari-i-radionice/otvoreni-seminari-i-radionice/"><i class="fa fa-list" aria-hidden="true" style="margin-right:10px;"></i>POPIS EDUKACIJA</a>
        </div>
    </aside>
    {% endif %}
    -->

    {% if nav2ID === "seminar" %}
    <aside class="widget widget-Categories with-title">
     <h3 class="widget-title">Rezervirajte edukaciju</h3>

		 		{% set dostupni = 0 %}
				{% for datum in seminar.datumiseminara %}
				{% if datum.popunjen === false %}
					{% set dostupni = 1 %}
				{% endif %}
				{% endfor %}

        {% if (seminar.datumiseminara | length > 0) and (dostupni === 1) %}

        <div class="container">
            <div class="row ttm-meta-line ttm-course-price" style="margin-top:30px;" id="jed-cijena">
                <h6 style="width:100%">Jedinična cijena</h6>
                <strong style="color: #88402C;font-size:20px;">{{ seminar.cijena }}</strong>
            </div>
						<div class="row ttm-meta-line ttm-course-price">
                <strong style="color: rgba(136,64,44,0.5);font-size:16px;font-weight:400;">{{ seminar.cijenaEUR }}<br/>(1EUR = 7,53450Kn)</strong>
            </div>
            <div class="row ttm-meta-line ttm-course-price" style="margin-top:30px;" id="jed-cijena">
                <h6 style="width:100%">Popusti</h6>
                <p style="font-size:14px;">
                    10% za više od dvije prijave iz iste tvrtke<br/>
                    25% fizičke osobe<br/>
                    50% humanitarne udruge
                </p>
            </div>
						<div class="row ttm-meta-line ttm-course-price" style="margin-top:30px;" id="jed-cijena">
							<h6 style="width:100%">Kriptovalute</h6>
							<p style="font-size:14px;">
								Upute za plaćanja kriptovalutom možete naći u ponudi koja vam stiže na email
							</p>
						</div>
            <hr style="margin-left: -15px;"/>
            <div class="row ttm-meta-line" style="margin-top:30px;">
                <p style="font-size:14px;">Klikom na donji gumb smatra se da razumijete i prihavaćate sve odredbe iz <u><a href="/uvjeti-koristenja/" target="_blank">Uvjeta korištenja</a></u> i politike <u><a href="/zastita-privatnosti/" target="_blank">Zaštite privatnosti</a></u></p>
            </div>
            <script src ="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
            <script type="text/javascript">
                var JFL_221121885687361 = new JotformFeedback({
                formId: '221121885687361',
                base: 'https://form.jotform.com/',
                iframeParameters: {
                    'nazivEdukacije': '{{ seminar.title }}',
                    'sifraProizvoda': '{{ seminar.sifra }}',
                    'jedinicnaCijena': '{{ seminar.cijenaCart }}',
										'jedinicnaCijenaEUR': '{{ seminar.cijenaCartEUR }}',
                    'kategorijaProizvoda': '{{ seminar.kategorija }}',
                    'vrstaProizvoda': 'seminar',
										'shorthand': '{{ seminar.shorthand }}',
                    'ponudeniDatumi27': '{% for datum in seminar.datumiseminara %}{% if not datum.popunjen %}{% if (seminar.trajanje === 2) %}{{ datum.dateAndTime | datumDan }}.{{ datum.dateAndTime | datumMjesecBroj }} i {{ datum.drugiDan | datumDan }}.{{ datum.drugiDan | datumMjesecBroj }} {{ datum.dateAndTime | datumGodina }}. od {{ datum.odDo }}, {{ datum.lokacija.nazivLokacije }}, {% if datum.dvorana %}Dvorana {{ datum.dvorana }},{% endif %} {{ datum.lokacija.adresa }}, {{ datum.lokacija.grad }} (dvodnevna edukacija)\n{% else %}{{ datum.dateAndTime | datumSeminaraNo }} od {{ datum.odDo }}, {{ datum.lokacija.nazivLokacije }}, {% if datum.dvorana %}Dvorana {{ datum.dvorana }},{% endif %} {{ datum.lokacija.adresa }}, {{ datum.lokacija.grad }}\n{% endif %}{% endif %}{% endfor %}'
                },
                windowTitle: 'Rezervirajte edukaciju',
                background: '#FFA500',
                fontColor: '#FFFFFF',
                type: '1',
                height: 1000,
                width: 800,
                openOnLoad: false
                });
            </script>
            <button class="lp-button button button-purchase-course ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-dark btn lightbox-221121885687361" style="margin-top:50px;">Rezervirajte edukaciju</button>

        </div>

        {% else %}

        <div class="ttm-btn-box pb-20">
            <div class="form-group">
                <h5>Na žalost nemamo dostupnih datuma ove edukacije</h5>
            </div>
        </div>

        {% endif %}

    </aside>
    <hr style="margin-left: -15px;"/>
    <aside class="widget widget-download with-title">
        <h3 class="widget-title">Podijeli edukaciju</h3>
        <div class="container">
            <div>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" style="padding: 0 .3em;" rel="noopener" aria-label="Podijelite ovaj seminar na svojim Facebook stranicama"><i class="fa fa-2x fa-facebook-square"></i></a>
                <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text=" target="_blank" style="padding: 0 .3em;" rel="noopener" aria-label="Podijelite ovaj seminar na svom Twitter profilu"><i class="fa fa-2x fa-twitter-square"></i></a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" target="_blank" style="padding: 0 .3em;" rel="noopener" aria-label="Podijelite ovaj seminar na svom Linkedin profilu"><i class="fa fa-2x fa-linkedin-square"></i></a>
                <a href="https://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}" target="_blank" style="padding: 0 .3em;" rel="noopener" aria-label="Podijelite ovaj seminar na svom Pinterest profilu"><i class="fa fa-2x fa-pinterest-square"></i></a>
                <a href="mailto:info@edukacije.hr?subject={{ akademija.title }}" target="_blank" style="padding: 0 .5em;" target="_blank" rel="noopener" aria-label="Podijelite ovaj seminar email porukom"><i class="fa fa-2x fa-envelope-square"></i></a>
            </div>
        </div>
    </aside>

    {% endif %}

    {% if nav2ID != 'seminar' %}

    {% if nav2ID == 'datumi' %}
        
    <aside class="widget widget-Categories with-title">
        <h3 class="widget-title">Kategorije</h3>
        <ul>
            <li class="{% if navID == 'sem-sve' %}active{% endif %}"><a href="/edukacije/seminari-i-radionice/datumi-odrzavanja">Sve kategorije</a></li>
            <li class="{{ 'active' if '/upravljanje-ljudskim-potencijalima' in page.url }}"><a href="/edukacije/seminari-i-radionice/upravljanje-ljudskim-potencijalima/datumi-odrzavanja">Upravljanje ljudskim potencijalima</a></li>
            <li class="{{ 'active' if '/prodaja-marketing-i-odnosi-s-javnoscu' in page.url }}"><a href="/edukacije/seminari-i-radionice/prodaja-marketing-i-odnosi-s-javnoscu/datumi-odrzavanja">Prodaja, marketing i odnosi s javnošću</a></li>
            <li class="{{ 'active' if '/upravljanje-i-administracija' in page.url }}"><a href="/edukacije/seminari-i-radionice/upravljanje-i-administracija/datumi-odrzavanja">Upravljanje i administracija</a></li>
            <li class="{{ 'active' if '/informatika-i-uredsko-poslovanje' in page.url }}"><a href="/edukacije/seminari-i-radionice/informatika-i-uredsko-poslovanje/datumi-odrzavanja">Informatika i uredsko poslovanje</a></li>
            <li class="{{ 'active' if '/pravo-i-zastita-podataka' in page.url }}"><a href="/edukacije/seminari-i-radionice/pravo-i-zastita-podataka/datumi-odrzavanja">Pravo i zaštita podataka</a></li>
            <li class="{{ 'active' if '/financije-i-racunovodstvo' in page.url }}"><a href="/edukacije/seminari-i-radionice/financije-i-racunovodstvo/datumi-odrzavanja">Financije i računovodstvo</a></li>
            <li class="{{ 'active' if '/zastita-na-radu' in page.url }}"><a href="/edukacije/seminari-i-radionice/zastita-na-radu/datumi-odrzavanja">Zaštita na radu</a></li>
            <li class="{{ 'active' if '/zastita-okolisa-i-upravljanje-otpadom' in page.url }}"><a href="/edukacije/seminari-i-radionice/zastita-okolisa-i-upravljanje-otpadom/datumi-odrzavanja">Zaštita okoliša i upravljanje otpadom</a></li>
            <li class="{{ 'active' if '/ostalo' in page.url }}"><a href="/edukacije/seminari-i-radionice/ostalo/datumi-odrzavanja">Ostalo</a></li>
        </ul>
    </aside>

    {% else %}

    <aside class="widget widget-Categories with-title">
        <h3 class="widget-title">Kategorije</h3>
        <ul>
            <li class="{% if navID == 'sem-sve' %}active{% endif %}"><a href="/edukacije/seminari-i-radionice/otvoreni-seminari-i-radionice">Sve kategorije</a></li>
            <li class="{{ 'active' if '/upravljanje-ljudskim-potencijalima' in page.url }}"><a href="/edukacije/seminari-i-radionice/upravljanje-ljudskim-potencijalima/otvoreni-seminari-i-radionice">Upravljanje ljudskim potencijalima</a></li>
            <li class="{{ 'active' if '/prodaja-marketing-i-odnosi-s-javnoscu' in page.url }}"><a href="/edukacije/seminari-i-radionice/prodaja-marketing-i-odnosi-s-javnoscu/otvoreni-seminari-i-radionice">Prodaja, marketing i odnosi s javnošću</a></li>
            <li class="{{ 'active' if '/upravljanje-i-administracija' in page.url }}"><a href="/edukacije/seminari-i-radionice/upravljanje-i-administracija/otvoreni-seminari-i-radionice">Upravljanje i administracija</a></li>
            <li class="{{ 'active' if '/informatika-i-uredsko-poslovanje' in page.url }}"><a href="/edukacije/seminari-i-radionice/informatika-i-uredsko-poslovanje/otvoreni-seminari-i-radionice">Informatika i uredsko poslovanje</a></li>
            <li class="{{ 'active' if '/pravo-i-zastita-podataka' in page.url }}"><a href="/edukacije/seminari-i-radionice/pravo-i-zastita-podataka/otvoreni-seminari-i-radionice">Pravo i zaštita podataka</a></li>
            <li class="{{ 'active' if '/financije-i-racunovodstvo' in page.url }}"><a href="/edukacije/seminari-i-radionice/financije-i-racunovodstvo/otvoreni-seminari-i-radionice">Financije i računovodstvo</a></li>
            <li class="{{ 'active' if '/zastita-na-radu' in page.url }}"><a href="/edukacije/seminari-i-radionice/zastita-na-radu/otvoreni-seminari-i-radionice">Zaštita na radu</a></li>
            <li class="{{ 'active' if '/zastita-okolisa-i-upravljanje-otpadom' in page.url }}"><a href="/edukacije/seminari-i-radionice/zastita-okolisa-i-upravljanje-otpadom/otvoreni-seminari-i-radionice">Zaštita okoliša i upravljanje otpadom</a></li>
            <li class="{{ 'active' if '/ostalo' in page.url }}"><a href="/edukacije/seminari-i-radionice/ostalo/otvoreni-seminari-i-radionice">Ostalo</a></li>
        </ul>
    </aside>

    {% endif %}

    {% endif %}

</div>