---
title: Zbirke dokumenata
description: Zbirke dokumenata
layout: layouts/page.njk
banner: online-edukacije.jpg
navID: sve
pagination:
  data: zbirke.popis
  size: 10
  alias: edukacije
permalink: "edukacije/zbirke-dokumenata{% if pagination.pageNumber > 0 %}/stranica/{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
    page_title: "Zbirke dokumenata {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
    page_description: "Zbirke dokumenata {% if pagination.pages | length != 1 %}({{ pagination.pageNumber + 1 }}/{{ pagination.pages | length }}){% endif %}"
---

{% include "partials/zbirke-header.njk" %}

{% include "partials/zbirke-popis.njk" %}